@import "includes/vars";
//@import "includes/fonts";
@import "includes/libs";
//@import "includes/sprite";
@import "includes/mixin";
//@import "includes/button";//

//::placeholder {
//  color: #929292;
//  font-family: $default-font;
//}
//
//::selection {
//  background-color: $accent;
//  color: #fff;
//}
//
//body {
//  font-size: 16px;
//  position: relative;
//  line-height: 1.3333;
//  font-family: $default-font;
//  color: $dark;
//  margin: 0;
//  * {
//    outline: none;
//    box-sizing: border-box;
//    &:hover,
//    &:focus {
//      outline: none;
//    }
//  }
//  &.hidden{
//    overflow: hidden;
//  }
//}
//
//img {
//  vertical-align: middle;
//  max-width: 100%;
//}
//
//input, textarea {
//  border: #666 1px solid;
//  outline: none;
//  &:focus:required:invalid {
//    border-color: $error;
//  }
//  &:required:valid {
//    border-color: green;
//  }
//}
//
//input[type=number]::-webkit-inner-spin-button,
//input[type=number]::-webkit-outer-spin-button {
//  -webkit-appearance: none;
//  margin: 0;
//}
//.main-input {
//  background-color: #fff;
//  padding: 19px 25px 17px;
//  border: 1px solid $main;
//  -webkit-box-shadow: none;
//  box-shadow: none;
//  display: block;
//  width: 100%;
//  margin-bottom: 23px;
//  @include transition(all, .35s, ease)
//}
//a {
//  text-decoration: none;
//  color: $dark;
//  @include transition(all, .35s, ease);
//  &:hover,
//  &:focus {
//    text-decoration: none;
//    color: $hover;
//  }
//}
//ul,li{
//  list-style-type: none;
//  margin: 0;
//  padding: 0;
//}
//h1, h2, h3, h4, h5, h6, p {
//  margin: 0;
//}
//p{
//  color: $text;
//}
//.g-container{
//  width: 100%;
//  max-width: 1140px;
//  margin: 0 auto;
//  padding: 0 15px;
//}
//.g-row{
//  box-sizing: border-box;
//  display: -ms-flexbox;
//  display: -webkit-box;
//  display: -webkit-flex;
//  display: flex;
//  -ms-flex: 0 1 auto;
//  -webkit-box-flex: 0;
//  -webkit-flex: 0 1 auto;
//  flex: 0 1 auto;
//  -ms-flex-direction: row;
//  -webkit-box-direction: normal;
//  -webkit-box-orient: horizontal;
//  -webkit-flex-direction: row;
//  flex-direction: row;
//  -ms-flex-wrap: wrap;
//  -webkit-flex-wrap: wrap;
//  flex-wrap: wrap;
//  margin: 0 -15px;
//}
//
//
//.nicescroll-rails{
//  background-color: $main;
//}
//
////HEADER
//@import "layout/c-header";
////Valuation
//@import "layout/c-valuation";
//Features
@import "layout/c-features";
//Steps
@import "layout/c-steps";
//Banner
@import "layout/c-banner";
//Comparison
@import "layout/c-comparison";
//Reviews
@import "layout/c-reviews";
//Brands
@import "layout/c-brands";
//Questions
@import "layout/c-questions";

//Modal
@import "layout/c-modal";
//Footer
@import "layout/c-footer";

.main-checkbox__label {
  display: flex;
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  .main-checkbox__item {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    &--icon {
      position: relative;
      width: 31px;
      height: 31px;
      transform: scale(1);
      vertical-align: middle;
      border: 1px solid #00a550;
      transition: all 0.2s ease;
      background-color: #ffffff;
      min-width: 30px;
      margin-right: 8px;
      @media only screen and (min-width: $tablet) {
        width: 22px;
        height: 22px;
        min-width: 22px;
        margin-right: 13px;
      }
      @media only screen and (min-width: $desctop) {
        width: 24px;
        height: 24px;
        min-width: 24px;
        margin-right: 16px;
      }
      .main-checkbox__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.3s ease;
        transition-delay: 0.1s;
        transform: translate3d(-50%, -50%, 0);
        height: 18px;
        width: 17px;
        @media only screen and (min-width: $tablet) {
          height: 10px;
          width: 10px;
        }

      }
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: $accent;
        display: block;
        transform: scale(0);
        opacity: 1;
        border-radius: 50%;
      }
    }
  }
  &:hover .main-checkbox__item--icon {
    border-color: $accent;
  }
}

.main-checkbox__check:checked + .main-checkbox__label span:first-child {
  background: $accent;
  border-color: $accent;
  animation: wave 0.4s ease;
  svg {
    stroke-dashoffset: 0;
  }
  &:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.main-checkbox {
  &__label-text {
    font: 12px/1.2 $default-font;
    color: silver;
    @media only screen and (min-width: $desctop) {
      font-size: 14px;
    }
  }
  &__label-link {
    margin: 0 5px;
    color: silver;
    text-decoration: underline;
  }
}
.carousel{
  position: relative;
  @include g-col;
  padding: 0 15px;
  flex-basis: 100%;
  max-width: 100%;
  @media only screen and (min-width: 769px) {
    padding: 0 30px;
  }
  @media only screen and (min-width: 1200px) {
    padding: 0;
  }
  &__btn{
    position: absolute;
    top: 50%;
    @include translate(0, -50%);
    border: none;
    background-color: transparent;
    &--prev{
      left: 0px;
      @media only screen and (min-width: 1200px) {
        left: -30px;
      }
    }
    &--next{
      right: 0px;
      @media only screen and (min-width: 1200px) {
        right: -30px;
      }
    }
  }
  &__btn-icn{
    color: $text-2;
    font-size: 31px;
    width: 20px;
    cursor: pointer;
    @include transition(all, .35s, ease);
    &:hover,
    &:focus{
      color: $accent;
    }
  }
}


