@import "../includes/vars";
@import "../includes/mixin";

.c-features{
  @media only screen and (min-width: $mobile) {
    background-color: $main;

  }
  &__item{
    @include g-col;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-basis: 100%;
    max-width: 100%;
    @media only screen and (max-width: $mobile-1) {
      &:nth-child(odd){
        background-color: $main;
      }
    }
    @media only screen and (min-width: $mobile) {
      flex-basis: 50%;
      max-width: 50%;
    }
    @media only screen and (min-width: $tablet) {
      flex-basis: 25%;
      max-width: 25%;
      padding-right: 35px;
      &:last-child{
        padding-right: 15px;
      }
    }
  }
  &__icn{
    color: $accent;
    font-size: 60px;
    margin-bottom: 10px;
    display: block;
    @media only screen and (max-width: 1024px) {
      margin: 0 auto 10px;

    }
  }
  &__caption{
    font-size: 500 18px $Ub-md;
    letter-spacing: 0.45px;
    margin-bottom: 10px;
    text-align: center;
    @media only screen and (min-width: $mobile) {
      font-size: 22px;

    }
    @media only screen and (min-width: $tablet) {
      text-align: left;
    }
  }
  &__desc{
    font-size: 13px;
    letter-spacing: 0.35px;
    color: $text;
    text-align: center;
    @media only screen and (min-width: $mobile) {
      text-align: left;
    }
  }
}
