@import "../includes/vars";
@import "../includes/mixin";
.c-footer{
  background-color: $main;
  &__border{
    border-top: 4px solid $accent;
  }
  &__row{
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    @media only screen and (min-width: 769px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  &__item{
    @include g-col;
    flex-basis: 50%;
    max-width: 50%;
    &--md-3{
      text-align: right;
    }
    @media only screen and (min-width: 769px) {
      &--md-9{
        flex-basis: 75%;
        max-width: 75%;
      }
      &--md-3{
        flex-basis: 25%;
        max-width: 25%;
      }
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    @media only screen and (min-width: 769px) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 40px;
    }
  }
  &__list-item{
      margin: 0 0 15px 0;
    @media only screen and (min-width: 769px) {
      margin: 0 50px 0 0;
    }
    &:last-child{
      margin: 0;
    }

  }
  &__link{
    font-size: 14px;
    @media only screen and (min-width: $mobile) {
      font-size: 16px;
    }
  }
  &__copyright{
    font-size: 8px;
    @media only screen and (min-width: $mobile) {
      font-size: 14px;
    }
  }
}
.callback{
  font: 500 14px $Ub-md;
  text-transform: uppercase;
  color: $blue;
  @media only screen and (min-width: $mobile) {
    font-size: 16px;
  }
}