@import "../includes/vars";
@import "../includes/mixin";
.c-questions-wrap{
  display: flex;
  align-content: center;
  padding: 50px 0;
  @media only screen and (min-width: $mobile) {
    padding: 80px 0;
  }
  @media only screen and (min-width: $tablet) {
    padding: 120px 0;
  }
&__container{
  width: auto;
  max-width: 798px;
}
}
.c-questions-caption{
  font: 500 18px $Ub-md;
  margin-bottom: 20px;
  @media only screen and (min-width: 480px) {
    font-size: 22px;
  }
  @media only screen and (min-width: $mobile) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.c-questions {
  @include g-col;
  flex-basis: 100%;
  max-width: 100%;
  &__item {
    margin-bottom: 23px;
    &:last-child {
      margin-bottom: 0;
    }
    &.active{
      .c-questions__caption{
        color: $accent;
      }
      .c-questions__btn{
        &:before{
          @include rotate(180deg);
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAMAAAA1k+1bAAAAGFBMVEUAAAAAg0IAhUIAhUIAhUIAhj0AhUIAhkFyLk2XAAAACHRSTlMAQvb/yRXEO2LpMAAAAAAvSURBVHgBVce7EQAgCARR/vTfsc64F0jA7bOeNW6nrTL8ySPrPkz8Q0hYwhKWMDoyRgCTAJSj5wAAAABJRU5ErkJggg==);
        }
      }
    }
  }
  &__btn {
    display: inline-block;
    position: relative;
    padding-right: 30px;
    width: 100%;
    @include transition(all, .35s, ease);
    &:hover,
    &:focus{
      color: $accent;
      cursor: pointer;
    }
    &:before {
      content: '';
      width: 15px;
      height: 9px;
      position: absolute;
      right: 0px;
      top: 11px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAMAAADaUYZlAAAAG1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACUUeIgAAAACXRSTlMAD4kpAY2yrC6thOHQAAAANUlEQVR42kXIyQ0AMAgDQQPh6L/iKDKReQA7gHlgJ9xwsnqY05VvE/jo7vmgJDAFTAFTsHkBgNgBrV4tkx0AAAAASUVORK5CYII=) no-repeat center / contain;
      @include transition(transform, .35s, ease);
    }
  }
  &__title{
    font: 500 16px $Ub-md;
    @media only screen and (min-width: 480px) {
      font-size: 18px;
    }
    @media only screen and (min-width: $mobile) {
      font-size: 20px;
    }
    @media only screen and (min-width: 992px) {
      font-size: 22px;
    }
  }
  &__text{
    margin-top: 15px;
  }
}

