@import "../includes/vars";
@import "../includes/mixin";

.c-reviews-wrap {
  padding: 20px 0;
  background-color: $main;

  @media only screen and (min-width: $mobile) {
    padding: 45px 0;
  }
}
.c-reviews-caption{
  font: 500 18px $Ub-md;
  margin-bottom: 20px;
  @include g-col;
  @media only screen and (max-width: $mobile-1) {
    margin: 0 auto 20px;
  }
  @media only screen and (min-width: 480px) {
    font-size: 22px;

  }
  @media only screen and (min-width: $mobile) {
    font-size: 28px;
    margin-bottom: 30px;

  }
}
.c-reviews {
  max-width: 1140px;
  @include g-col;
  padding: 0;
  flex-basis: 100%;
  max-width: 100%;
  &__thumb {
    display: block;
    padding: 0 15px;
    position: relative;
    &:before{
      content: '';
      background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjEiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyMSAyNCI+PGRlZnM+PHBhdGggaWQ9InUzZTBhIiBkPSJNMzAzLjkgMjcwMS4xNEwyODMuMTcgMjcxM3YtMjMuNzR6Ii8+PC9kZWZzPjxnPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yODMgLTI2ODkpIj48dXNlIGZpbGw9IiMwMGE1NTAiIHhsaW5rOmhyZWY9IiN1M2UwYSIvPjwvZz48L2c+PC9zdmc+) no-repeat;
      background-position: 55% 50%;
      width: 59px;
      height: 59px;
      position: absolute;
      left: 50%;
      right: 0;
      top: 50%;
      bottom: 0;
      @include translate(-50%, -50%);
      @include border-radius(50%);
      @include transition(all, .35s, ease);
      @media only screen and (max-width: 479px) {
        background-size: 15px;
        width: 39px;
        height: 39px;
      }
    }
  }
  &__img{
    margin: 0 auto;
  }
}
.c-reviews-more{
  @include g-col;
  margin-top: 20px;
  @media only screen and (min-width: $mobile) {
    font-size: 16px;
  }
  &__link{
    font: 500 14px $Ub-md;
    color: $blue;
    letter-spacing: 0.16px;
    text-decoration: underline;
    text-transform: uppercase;
  }
}