@import "../includes/vars";
@import "../includes/mixin";
.c-steps-wrap{
  padding: 36px 0;
  @media only screen and (min-width: $tablet) {
    padding: 50px 0;
  }
  @media only screen and (min-width: $tablet) {
    padding: 90px 0;
  }
}
.c-steps{
  &__col{
    position: relative;
    @include g-col;
    flex-basis: 100%;
    max-width: 100%;
    &--md-6{
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    @media only screen and (min-width: 768px) {
      &--md-6{
        flex-basis: 50%;
        max-width: 50%;
      }
      &--md-4{

        flex-basis: 50%;
        max-width: 50%;
      }
    }
    @media only screen and (min-width: $tablet) {
      &--md-6{
        flex-basis: 60%;
        max-width: 60%;
      }
      &--md-4{
        flex-basis: 40%;
        max-width: 40%;
      }
    }
  }
  &__caption{
    font: 500 18px $Ub-md;
    letter-spacing: 0.57px;
    margin-bottom: 18px;
    @media only screen and (min-width: $mobile) {
      font-size: 22px;

    }
    @media only screen and (min-width: $tablet) {
      font-size: 27px;
      margin-bottom: 40px;
    }
  }
  &__figure{
    display: none;
    margin: 0;
    &:first-child{
      display: block;
    }
  }
}
.c-step{
  counter-reset: myCounter;
  margin: 0;
  &__item{
    position: relative;
    margin-bottom: 20px;
    @media only screen and (min-width: $tablet) {
      margin-bottom: 25px;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &:before{
      content: counter(myCounter);
      counter-increment: myCounter;
      position: absolute;
      left: -40px;
      top: 0;
      background-color: $blue;
      color: #ffffff;
      width: 27px;
      height: 27px;
      text-align: center;
      line-height: 27px;
      font-size: 14px;
      @include border-radius(50%);

    }
    &.active{
      .c-step__title{
        color: $blue;
      }

    }
    &:first-child{
      .c-step__content{
        display: block;
      }
    }
  }
  &__title{
    font: 500 16px $Ub-md;
    letter-spacing: 0.2px;
    display: block;
    cursor: pointer;
    &:hover,
    &:focus{
      color: $blue;
    }
    @media only screen and (min-width: $mobile) {
      font-size: 18px;
    }
    @media only screen and (min-width: $tablet) {
      font-size: 22px;
    }
  }
  &__desc{
    font-size: 14px;
    letter-spacing: 0.26px;
    margin-top: 10px;
    max-width: 290px;
  }
  &__btn{
    margin-top: 20px;
  }
  &__content{
    display: none;
  }
}