doctype html
html(lang="ru")
      //include Head
      include ./includes/head.jade
      body
            //Sprite
            include ./includes/sprite.jade
            //.Header
            include ./includes/components/c-header.jade
            //About-us banner
            include ./includes/components/c-about-us-banner.jade
            //About us desc
            include ./includes/components/c-about-us-desc.jade
            //Team
            include ./includes/components/c-team.jade
            //Reviews
            include ./includes/components/c-about-us-reviews.jade
            //New way
            include ./includes/components/c-new-way.jade
            //Footer
            include ./includes/components/c-footer.jade

            //Scripts
            include ./includes/scripts.jade

