doctype html
html(lang="ru")
      //include Head
      include ./includes/head.jade
      body
            //Sprite
            include ./includes/sprite.jade
            //.Header
            include ./includes/components/c-header.jade
            //Center description
            include ./includes/components/c-center-desc.jade
            //Center gallery
            include ./includes/components/c-center-gallery.jade
            //Center program
            include ./includes/components/c-center-program.jade
            //Reviews
            include ./includes/components/c-reviews.jade
            //Cost
            include ./includes/components/c-cost.jade
            //Center text
            include ./includes/components/c-center-text.jade
            //New way
            include ./includes/components/c-new-way.jade
            //Footer
            include ./includes/components/c-footer.jade

            //Scripts
            include ./includes/scripts.jade

