doctype html
html(lang="ru")
      //include Head
      include ./includes/head.jade
      body
            //Sprite
            include ./includes/sprite.jade
            //.Header
            include ./includes/components/c-header.jade
            //Home slider
            include ./includes/components/c-home-slider.jade
            //Caption
            include ./includes/components/c-caption.jade
            //Treatment
            include ./includes/components/c-treatment.jade
            //Offer
            include ./includes/components/c-offer.jade
            //Belief
            include ./includes/components/c-belief.jade
            //Detox
            include ./includes/components/c-detox.jade
            //Offer
            include ./includes/components/c-offer-2.jade
            //Centers
            include ./includes/components/c-center-map.jade
            //Rehabilitation centers
            include ./includes/components/c-centers.jade
            //After rehab
            include ./includes/components/c-after-rehab.jade
            //Documents
            include ./includes/components/c-documents.jade
            //New way
            include ./includes/components/c-new-way.jade
            //Footer
            include ./includes/components/c-footer.jade

            //Scripts
            include ./includes/scripts.jade

