doctype html
html(lang="ru")
      //include Head
      include ./includes/head.jade
      body
            //Sprite
            include ./includes/sprite.jade
            //.Header
            include ./includes/components/c-header.jade
            //Content
            include ./includes/components/c-text-page-content.jade
            //New way
            include ./includes/components/c-new-way.jade
            //Footer
            include ./includes/components/c-footer.jade

            //Scripts
            include ./includes/scripts.jade

