@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype"); }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-arrow-left {
  font-size: 49.2rem;
  width: 1em; }

.icon-arrow-right {
  font-size: 49.2rem;
  width: 1em; }

.icon-arrow_down {
  font-size: 56rem;
  width: 1.71429em; }

.icon-facebook-f {
  font-size: 51.2rem;
  width: 0.51563em; }

.icon-instagram {
  font-size: 51.2rem;
  width: 0.875em; }

.icon-logo {
  font-size: 22.4rem;
  width: 1em; }

.icon-vk {
  font-size: 51.2rem;
  width: 1.125em; }

::-webkit-input-placeholder {
  color: #929292;
  font-family: "OpenSansRegular", sans-serif; }

:-ms-input-placeholder {
  color: #929292;
  font-family: "OpenSansRegular", sans-serif; }

::-ms-input-placeholder {
  color: #929292;
  font-family: "OpenSansRegular", sans-serif; }

::placeholder {
  color: #929292;
  font-family: "OpenSansRegular", sans-serif; }

::-moz-selection {
  background-color: #6dabff;
  color: #fff; }

::selection {
  background-color: #6dabff;
  color: #fff; }

body {
  font-size: 16px;
  position: relative;
  line-height: 1.3333;
  font-family: "OpenSansRegular", sans-serif;
  color: #000000;
  margin: 0;
  background-color: #fff; }
  body * {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    body *:hover, body *:focus {
      outline: none; }
  body.hidden {
    overflow: hidden; }

img {
  vertical-align: middle;
  max-width: 100%; }

input, textarea {
  border: #666 1px solid;
  outline: none; }
  input:focus:required:invalid, textarea:focus:required:invalid {
    border-color: red; }
  input:required:valid, textarea:required:valid {
    border-color: green; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #1e2568; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

p {
  color: #000000; }

.container {
  max-width: 100%; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.c-footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.main-input {
  background-color: #fff;
  padding: 19px 25px 17px;
  border: 1px solid #fafafa;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  width: 100%;
  margin-bottom: 23px;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.bg-dark {
  background-color: #4d4d4d; }
  .bg-dark p {
    color: #ffffff; }
  .bg-dark .c-footer a {
    color: #ffffff; }

body .c-header {
  padding: 15px 0 5px;
  position: relative;
  background-color: #ffffff; }
  body .c-header__row {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  body .c-header__logo {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    line-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  body .c-header__logo-img {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 11;
    padding: 3px;
    background: #fff; }
  body .c-header__logo-desc {
    font: 700 13px/1 "OpenSansBold", sans-serif;
    color: #1e2568;
    margin-left: 67px;
    padding-left: 15px;
    max-width: 140px;
    margin-top: 3px; }
  body .c-header__burger-wrapp {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  body .c-header__burger {
    position: relative;
    width: 30px;
    height: 30px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 100; }
    body .c-header__burger:hover {
      cursor: pointer; }
    body .c-header__burger--icon {
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      position: absolute;
      height: 2px;
      width: 30px;
      top: 50%;
      background-color: #1e2568; }
      body .c-header__burger--icon:before {
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #1e2568;
        content: "";
        top: -8px; }
      body .c-header__burger--icon:after {
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #1e2568;
        content: "";
        top: 8px; }
    body .c-header__burger.active .c-header__burger--icon {
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      background: transparent; }
      body .c-header__burger.active .c-header__burger--icon:before {
        -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(4px, 5px);
        -ms-transform: rotate(45deg) scaleX(1.25) translate(4px, 5px);
        transform: rotateZ(45deg) scaleX(1.25) translate(4px, 5px);
        background-color: #1e2568; }
      body .c-header__burger.active .c-header__burger--icon:after {
        -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -6px);
        -ms-transform: rotate(-45deg) scaleX(1.25) translate(5px, -6px);
        transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -6px);
        background-color: #1e2568; }

.c-navbar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px; }
  .c-navbar__item {
    font: 300 18px "OpenSansLight", sans-serif;
    position: relative;
    display: block;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .c-navbar__item:hover, .c-navbar__item:focus {
      color: #fff; }
    .c-navbar__item:last-child {
      margin-right: 0; }

.c-home-slider {
  margin-bottom: 50px; }
  .c-home-slider__item {
    background: transparent no-repeat center / cover;
    min-height: 100%;
    min-height: 100vh;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 100px 0; }
    .c-home-slider__item--center .c-home-slider__content {
      text-align: center;
      margin: 0 auto; }
  .c-home-slider__content {
    padding: 0 15px;
    font-family: "OpenSansLight", sans-serif;
    color: #ffffff;
    margin: 0 auto; }
  .c-home-slider__caption {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 20px; }
  .c-home-slider .slick-arrow:hover:before {
    background-color: #1e2568; }
  .c-home-slider .slick-prev, .c-home-slider .slick-next {
    z-index: 1;
    width: 40px;
    height: 40px; }
  .c-home-slider .slick-next:before, .c-home-slider .slick-prev:before {
    font-size: 0;
    background: #6dabff no-repeat center;
    -webkit-background-size: 20px;
    background-size: 20px;
    width: 40px;
    height: 40px;
    z-index: 1;
    display: block;
    color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  .c-home-slider .slick-prev {
    right: 75px;
    left: initial; }
    .c-home-slider .slick-prev:before {
      background-image: url("../img/svg/arrow-left.svg"); }
  .c-home-slider .slick-next {
    right: 15px; }
    .c-home-slider .slick-next:before {
      background-image: url("../img/svg/arrow-right.svg"); }
  .c-home-slider .slick-dots {
    bottom: 50px; }
    .c-home-slider .slick-dots li {
      width: auto;
      height: auto;
      margin: 0 10px; }
      .c-home-slider .slick-dots li button {
        width: 12px;
        height: 12px; }
        .c-home-slider .slick-dots li button:before {
          width: 12px;
          height: 12px;
          background-color: #fff;
          opacity: 1;
          font-size: 0;
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
      .c-home-slider .slick-dots li.slick-active button:before {
        background-color: #6dabff; }

.c-main-categories {
  margin-bottom: 50px; }
  .c-main-categories__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .c-main-categories__col--mb {
    margin-bottom: 30px; }
  .c-main-categories__item {
    background-color: #1e2568;
    margin: 0;
    position: relative;
    overflow: hidden;
    height: 100%; }
    .c-main-categories__item:hover .c-main-categories__img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
    .c-main-categories__item--md .c-main-categories__content {
      width: auto; }
    .c-main-categories__item--sm .c-main-categories__content {
      width: 100%; }
  .c-main-categories__img {
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    height: 100%;
    width: 100%; }
  .c-main-categories__content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.62);
    padding: 10px 18px 12px;
    width: 100%; }
  .c-main-categories__title, .c-main-categories__desc {
    color: #ffffff; }
  .c-main-categories__title {
    font: 700 16px "OpenSansBold", sans-serif; }
  .c-main-categories__desc {
    font: 300 12px/1.2 "OpenSansLight", sans-serif;
    margin-top: 10px; }
  .c-main-categories__list {
    padding-left: 15px; }
  .c-main-categories__point {
    list-style-type: disc; }

.c-catalog {
  padding: 50px 0; }

.category-caption {
  font-family: "OpenSansLight", sans-serif;
  margin-bottom: 40px; }
  .category-caption__title {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 22px; }
  .category-caption__desc {
    font-size: 16px; }
  .category-caption__wrapp {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

.c-product {
  position: relative;
  margin: 15px 0; }
  .c-product__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.62);
    padding: 10px 18px 12px;
    width: 100%;
    overflow: hidden; }
  .c-product__title, .c-product__desc {
    color: #ffffff; }
  .c-product__title {
    font: 700 16px "OpenSansBold", sans-serif; }
  .c-product__desc {
    font: 300 12px/1.2 "OpenSansLight", sans-serif;
    margin: 10px 0 12px; }
  .c-product__hover {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    opacity: 0;
    visibility: hidden;
    max-height: 0; }
  .c-product__hover-inside {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.4s linera;
    -moz-transition: all 0.4s linera;
    -ms-transition: all 0.4s linera;
    -o-transition: all 0.4s linera;
    transition: all 0.4s linera; }
  .c-product:hover .c-product__hover {
    opacity: 1;
    visibility: visible;
    max-height: 300px; }
  .c-product:hover .c-product__hover-inside {
    opacity: 1;
    display: block; }

.c-card {
  padding: 80px 0; }
  .c-card__content {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 920px; }
  .c-card__title {
    font: 700 24px "OpenSansBold", sans-serif;
    color: #ffffff;
    margin-bottom: 20px; }
  .c-card__desc {
    font: 300 16px "OpenSansLight", sans-serif; }

.c-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  margin: -5px 0 70px; }
  .c-carousel__main {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 5px 0; }
  .c-carousel__nav {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 5px 0; }
  .c-carousel__nav-item {
    padding: 0 5px; }
  .c-carousel .next_thumb-img,
  .c-carousel .prev_thumb-img {
    position: absolute; }
  .c-carousel .prev_thumb-img {
    left: -5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .c-carousel .thumb-img__icon {
    font-size: 15px;
    color: #ffffff; }
  .c-carousel .slick-dots {
    left: 30px;
    right: 0;
    bottom: -16px;
    width: calc(100% - 62px);
    height: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .c-carousel .slick-dots li {
      display: block;
      height: auto;
      width: 100%;
      margin: 0;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .c-carousel .slick-dots li button {
        height: 100%;
        width: 100%;
        padding: 0;
        background-color: #b3b3b3; }
        .c-carousel .slick-dots li button:before {
          display: none; }
      .c-carousel .slick-dots li.slick-active button {
        background-color: #e6e6e6; }

.c-footer__content {
  padding: 20px 0; }

.c-footer__border {
  border-top: px solid #000000; }

.c-footer__address {
  font-style: normal; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px; }
  .social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #cccccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    margin-right: 10px; }
    .social__item:last-child {
      margin-right: 0; }
    .social__item:hover {
      background-color: #1e2568; }
  .social__icon {
    color: #ffffff;
    font-size: 22px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }

.read-more {
  font-family: "OpenSansLight", sans-serif;
  font-size: 16px;
  color: #ffffff; }
  .read-more__icon-wrap {
    background-color: #6dabff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .read-more__icon-wrap--small {
      width: 22px;
      height: 22px; }
  .read-more__icon {
    color: #ffffff;
    font-size: 12px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .read-more__icon--small {
      font-size: 10px; }
  .read-more:hover, .read-more:focus {
    color: #1e2568; }
    .read-more:hover .read-more__icon-wrap, .read-more:focus .read-more__icon-wrap {
      background-color: #1e2568; }
  .read-more--small {
    font-size: 16px; }
  @media (min-width: 576px) and (max-width: 768px) {
    .c-main-categories__col-sm-5 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 41.66667%;
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%; }
    .c-main-categories__col-sm-6 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    .c-main-categories__col-sm-7 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 58.33333%;
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%; } }
  @media only screen and (min-width: 576px) {
      body .c-header__logo-img {
        width: 80px;
        height: 80px; }
      body .c-header__logo-desc {
        font-size: 18px;
        margin-left: 78px;
        max-width: 185px; }
      .c-home-slider__item--bottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; }
      .c-home-slider__item--top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
      .c-home-slider__content {
        padding: 0 70px;
        margin: 0; }
      .c-home-slider__caption {
        font-size: 32px; }
      .c-home-slider .slick-prev {
        left: 15px;
        right: initial; }
      .category-caption__title {
        font-size: 28px; }
      .c-card__title {
        font-size: 30px; }
      .c-card__desc {
        font-size: 18px; }
    .read-more {
      font-size: 18px; }
      .read-more__icon-wrap {
        margin-right: 10px;
        width: 30px;
        height: 30px; }
      .read-more__icon {
        font-size: 15px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
      .c-main-categories__column {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
    .c-main-categories__col--md {
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
      max-width: 70%;
      padding: 0 15px;
      margin-bottom: 0; }
    .c-main-categories__col--sm {
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
      max-width: 30%;
      margin: 0; }
    .c-main-categories__mob-mt {
      margin-top: 30px; } }
  @media only screen and (min-width: 1025px) {
    .container {
      max-width: 85%; }
    body .c-header {
      padding: 30px 15px 5px; }
      body .c-header__logo-img {
        width: 90px;
        height: 90px; }
      body .c-header__logo-desc {
        font-size: 22px;
        margin-left: 84px;
        max-width: 215px; }
      .c-home-slider__content {
        padding: 0 30px; }
      .c-home-slider__caption {
        font-size: 42px; }
      .c-home-slider .slick-next:before, .c-home-slider .slick-prev:before {
        width: 50px;
        height: 50px;
        -webkit-background-size: 25px;
        background-size: 25px; }
      .c-home-slider .slick-prev {
        left: 25px; }
      .c-home-slider .slick-next {
        right: 25px; }
      .c-main-categories__column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
    .c-main-categories__col--md {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .c-main-categories__title {
        font-size: 22px; }
      .c-main-categories__title--sm {
        font-size: 14px; }
      .c-main-categories__desc {
        font-size: 12px; }
      .category-caption__title {
        font-size: 32px; }
      .category-caption__desc {
        font-size: 17px; }
      .category-caption__desc {
        font-size: 18px; }
      .c-product__title {
        font-size: 22px; }
      .c-product__desc {
        font-size: 12px; }
      .c-card__title {
        font-size: 36px; }
    .c-carousel {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0 -5px 40px; }
      .c-carousel__main {
        max-width: 79.6%;
        -ms-flex-preferred-size: 79.6%;
        flex-basis: 79.6%;
        padding: 0 5px; }
      .c-carousel__nav {
        max-width: 20.4%;
        -ms-flex-preferred-size: 20.4%;
        flex-basis: 20.4%;
        padding: 0 5px;
        margin: -5px 0; }
      .c-carousel__nav-item {
        padding: 5px 0; }
      .c-carousel .next_thumb-img,
      .c-carousel .prev_thumb-img {
        right: -15px; }
    .c-carousel .next_thumb-img {
      bottom: -5px; }
      .c-carousel .prev_thumb-img {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        left: initial;
        top: -5px; }
      .c-carousel .thumb-img__icon {
        font-size: 10px; }
      .c-carousel .slick-dots {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: calc(100% - 42px);
        width: 3px;
        top: 21px;
        bottom: initial;
        right: -8px;
        left: initial; }
    .social {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .read-more {
      font-size: 20px; } }
  @media only screen and (min-width: 1301px) and (max-width: 1024px) {
      .c-navbar__item:before {
        background-color: #ffffff; }
      .c-navbar__item.active {
        color: #ffffff; } }
  @media screen and (min-width: 1301px) {
      body .c-header__burger-wrapp {
        display: none; } }
  @media only screen and (min-width: 1301px) {
    .c-navbar {
      -ms-flex-direction: row;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      flex-direction: row; }
      .c-navbar__item {
        margin-right: 17px;
        font-size: 16px; }
        .c-navbar__item:before {
          content: '';
          position: absolute;
          left: 50%;
          right: 0;
          top: -57px;
          width: 0;
          background-color: #6dabff;
          height: 45px;
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease; }
        .c-navbar__item:hover, .c-navbar__item:focus {
          color: #1e2568; }
        .c-navbar__item.active {
          color: #000000;
          font-family: "OpenSansBold", sans-serif;
          font-weight: bold; }
          .c-navbar__item.active:before {
            left: 0;
            width: 100%; }
      .category-caption__wrapp {
        max-width: 820px;
        margin-left: auto; } }
  @media only screen and (min-width: 1367px) {
      .c-home-slider__caption {
        font-size: 50px; }
      .c-home-slider .slick-prev, .c-home-slider .slick-next {
        width: 60px;
        height: 60px; }
      .c-home-slider .slick-next:before, .c-home-slider .slick-prev:before {
        width: 60px;
        height: 60px;
        -webkit-background-size: 30px;
        background-size: 30px; }
      .c-home-slider .slick-prev {
        left: 50px; }
      .c-home-slider .slick-next {
        right: 50px; }
      .c-main-categories__title {
        font-size: 24px; }
      .c-main-categories__title--sm {
        font-size: 17px; }
      .c-main-categories__desc {
        font-size: 13px; }
      .c-product__title {
        font-size: 24px; }
      .c-product__desc {
        font-size: 13px; } }
  @media only screen and (min-width: 1451px) {
      body .c-header__logo-img {
        width: 110px;
        height: 110px; }
      body .c-header__logo-desc {
        font-size: 24px;
        max-width: 220px;
        margin-left: 107px; }
      .c-navbar__item {
        font-size: 18px;
        margin-right: 24px; }
      .c-home-slider .slick-prev, .c-home-slider .slick-next {
        width: 80px;
        height: 80px; }
      .c-home-slider .slick-next:before, .c-home-slider .slick-prev:before {
        width: 80px;
        height: 80px;
        -webkit-background-size: 40px;
        background-size: 40px; }
      .category-caption__title {
        font-size: 29px; }
      .category-caption__wrapp {
        max-width: 960px; } }
  @media only screen and (min-width: 1650px) {
      .c-navbar__item {
        font-size: 22px; }
      .c-main-categories__title {
        font-size: 30px; }
      .c-main-categories__title--sm {
        font-size: 22px; }
      .c-main-categories__desc {
        font-size: 16px;
        margin-top: 15px; }
      .category-caption__wrapp {
        max-width: 1137px; }
      .c-product__title {
        font-size: 30px; }
      .c-product__desc {
        font-size: 16px;
        margin-top: 15px; } }
  @media only screen and (max-width: 575px) {
    .c-navbar {
      padding-left: 15px;
      padding-top: 50px; }
      .c-home-slider .slick-prev, .c-home-slider .slick-next {
        top: initial;
        bottom: 25px; }
      .c-home-slider .slick-dots {
        display: none; }
    .c-footer__content {
      text-align: center; }
  .c-footer__item {
    margin-bottom: 20px; } }
  @media only screen and (max-width: 1300px) {
    .c-navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      text-align: left;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      background: #1e2568;
      padding: 15px 15px 15px 135px;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .c-navbar.active {
        opacity: 1;
        visibility: visible; }
      .c-navbar__item {
        color: #fff;
        margin: 5px 0; } }
  @media only screen and (max-width: 1024px) {
          body .c-header__burger.active .c-header__burger--icon:before {
            background-color: #1e2568; }
          body .c-header__burger.active .c-header__burger--icon:after {
            background-color: #1e2568; }
    .c-navbar {
      padding-left: 112px; }
      .c-main-categories__column {
        margin-bottom: 30px; }
        .c-main-categories__column:last-child {
          margin-bottom: 0; }
      .c-carousel__nav .slick-list.draggable {
        margin: 0 -5px; }
      .c-carousel .next_thumb-img,
      .c-carousel .prev_thumb-img {
        bottom: -25px; }
    .c-carousel .next_thumb-img {
      right: -5px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
      .c-carousel .prev_thumb-img {
        right: initial; } }
  @media screen and (max-width: 575px) {
    .c-main-categories__mob-mt {
      margin-top: 30px; } }
  @media only screen and (max-width: 768px) {
        .c-main-categories__item--md .c-main-categories__content {
          width: 100%; } }
  @media only screen and (max-width: 480px) {
      .c-main-categories__desc {
        display: none; } }

/*# sourceMappingURL=main.media.css.map */