doctype html
html
      //include Head
      include ./includes/head.jade
      body
            //Sprite
            include ./includes/sprite.jade
            .wrapper
                  //Sidebar
                  include ./includes/components/c-sidebar.jade
                  main.main
                        //.Header
                        include ./includes/components/c-header.jade
                        //Category
                        include ./includes/components/c-categories-list.jade
                        //Products
                        include ./includes/components/c-products.jade
                        //Banner
                        include ./includes/components/c-banner.jade
            //Footer
            include ./includes/components/c-footer.jade

            //Scripts
            include ./includes/scripts.jade

