@import "../includes/vars";
@import "../includes/mixin";

body .c-header {
  padding: 15px 0 5px;
  position: relative;
  background-color: #ffffff;
  @media only screen and (min-width: $tablet) {
    padding: 30px 15px 5px;
  }
  &__row{
    align-items: flex-end;
    justify-content: space-between;
  }
  &__logo{
    @include g-col;
    line-height: 0;
    display: flex;
    position: relative;
  }
  &__logo-img{
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 11;
    padding: 3px;
    background: #fff;
    @media only screen and (min-width: $mobile) {
      width: 80px;
      height: 80px;
    }
    @media only screen and (min-width: $tablet) {
      width: 90px;
      height: 90px;
    }
    @media only screen and (min-width: $desctop_md) {
      width: 110px;
      height: 110px;

    }
  }
  &__logo-desc{
    font: 700 13px/1 $Op-bd;
    color: $main;
    margin-left: 67px;
    padding-left: 15px;
    max-width: 140px;
    margin-top: 3px;
    @media only screen and (min-width: $mobile) {
      font-size: 18px;
      margin-left: 78px;
      max-width: 185px;
    }
    @media only screen and (min-width: $tablet) {
      font-size: 22px;
      margin-left: 84px;
      max-width: 215px;
    }
    @media only screen and (min-width: $desctop_md) {
      font-size: 24px;
      max-width: 220px;
      margin-left: 107px;
    }
  }
  &__burger-wrapp{
    @include g-col;
    display: flex;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;
    @media screen and (min-width: $desctop_sm){
      display: none
    }
  }
  &__burger{
    position: relative;
    width: 30px;
    height: 30px;
    transition-duration: 0.5s;
    z-index: 100;
    &:hover{
      cursor: pointer;
    }
    &--icon{
      transition-duration: 0.5s;
      position: absolute;
      height: 2px;
      width: 30px;
      top: 50%;
      background-color: $main;

      &:before{
        transition-duration: 0.5s;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: $main;
        content: "";
        top: -8px;
      }
      &:after{
        transition-duration: 0.5s;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: $main;
        content: "";
        top: 8px;
      }
    }
    &.active{
      .c-header__burger--icon{
        transition-duration: 0.5s;
        background: transparent;
        &:before{
          -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(4px, 5px);
          transform: rotateZ(45deg) scaleX(1.25) translate(4px, 5px);
          background-color: $main;
          @media only screen and (max-width: $tablet-1) {
            background-color: $main;
          }
        }
        &:after{
          @media only screen and (max-width: $tablet-1) {
            background-color: $main;
          }
          -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -6px);
          transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -6px);
          background-color: $main
        }
      }
    }
  }
}

.c-navbar{
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  @media only screen and (max-width: 1300px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: left;
    align-items: flex-start;
    background: $main;
    padding: 15px 15px 15px 135px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    @include transition(all, .5s, ease);
    &.active{
      opacity: 1;
      visibility: visible;
    }
  }
  @media only screen and (max-width: $tablet-1) {
    padding-left: 112px;
  }
  @media only screen and (max-width: $mobile-1) {
    padding-left: 15px;
    padding-top: 50px;
  }
  @media only screen and (min-width: $desctop_sm) {
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  &__item{
    font: 300 18px $Op-lh;
    position: relative;
    display: block;
    @include g-col;
    padding: 0px;
    @include transition(all, .35s, ease);
    &:hover,
    &:focus{
      color: #fff;
    }
    @media only screen and (max-width: 1300px) {
      color: #fff;
      margin: 5px 0;
    }
    @media only screen and (min-width: $desctop_sm) {
      margin-right: 17px;
      font-size: 16px;
      &:before{
        content: '';
        position: absolute;
        left: 50%;
        right: 0;
        top: -57px;
        width: 0;
        background-color: $accent;
        height: 45px;
        @include transition(all, .35s, ease);
        @media only screen and (max-width: $tablet-1) {
          background-color: #ffffff;
        }
      }
      &:hover,
      &:focus{
        color: $main;
      }
      &.active{
        color: $dark;
        font-family: $Op-bd;
        font-weight: bold;
        @media only screen and (max-width: $tablet-1) {
          color: #ffffff;
        }
        &:before{
          left: 0;
          width: 100%;
        }
      }
    }
    @media only screen and (min-width: $desctop_md) {
      font-size: 18px;
      margin-right: 24px;
    }
    @media only screen and (min-width: $desctop_lg) {
      font-size: 22px;
    }
    &:last-child{
      margin-right: 0;
    }
  }

}