@import "../includes/vars";
@import "../includes/mixin";

.c-home-slider {
  margin-bottom: 50px;
  &__item {
    background: transparent no-repeat center / cover;
    min-height: 100%;
    min-height: 100vh;
    display: flex !important;
    align-items: center;
    padding: 100px 0;
    &--bottom {
      @media only screen and (min-width: $mobile) {
        align-items: flex-end;
      }
    }
    &--top {

      @media only screen and (min-width: $mobile) {
        align-items: flex-start;
      }
    }
    &--center{
      .c-home-slider__content{
        text-align: center;
        margin: 0 auto;
      }

    }
  }
  &__content {
    padding: 0 15px;
    font-family: $Op-lh;
    color: #ffffff;
    margin: 0 auto;
    @media only screen and (min-width: $mobile) {
      padding: 0 70px;
      margin: 0;
    }
    @media only screen and (min-width: $tablet) {
      padding: 0 30px;
    }
  }
  &__caption {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 20px;
    @media only screen and (min-width: $mobile) {
      font-size: 32px;
    }
    @media only screen and (min-width: $tablet) {
      font-size: 42px;
    }
    @media only screen and (min-width: $desctop) {
      font-size: 50px;
    }
  }

  //SLICK
  .slick-arrow {
    &:hover {
      &:before {
        background-color: $main;
      }
    }
  }
  .slick-prev, .slick-next {
    z-index: 1;
    width: 40px;
    height: 40px;
    @media only screen and (max-width: $mobile-1) {
      top: initial;
      bottom: 25px;
    }
    @media only screen and (min-width: $desctop) {
      width: 60px;
      height: 60px;
    }
    @media only screen and (min-width: $desctop_md) {
      width: 80px;
      height: 80px;
    }
  }
  .slick-next:before, .slick-prev:before {
    font-size: 0;
    background: $accent no-repeat center;
    -webkit-background-size: 20px;
    background-size: 20px;
    width: 40px;
    height: 40px;
    z-index: 1;
    display: block;
    color: #ffffff;
    @include border-radius(50%);
    opacity: 1;
    @include transition(all, .35s, ease);
    @media only screen and (min-width: $tablet) {
      width: 50px;
      height: 50px;
      -webkit-background-size: 25px;
      background-size: 25px;
    }

    @media only screen and (min-width: $desctop) {
      width: 60px;
      height: 60px;
      -webkit-background-size: 30px;
      background-size: 30px;
    }
    @media only screen and (min-width: $desctop_md) {
      width: 80px;
      height: 80px;
      -webkit-background-size: 40px;
      background-size: 40px;
    }
  }
  .slick-prev {
    right: 75px;
    left: initial;
    @media only screen and (min-width: $mobile) {
      left: 15px;
      right: initial;

    }
    @media only screen and (min-width: $tablet) {
      left: 25px
    }
    @media only screen and (min-width: $desctop) {
      left: 50px
    }
    &:before {
      background-image: url('../img/svg/arrow-left.svg');
    }
  }
  .slick-next {
    right: 15px;
    @media only screen and (min-width: $tablet) {
      right: 25px
    }
    @media only screen and (min-width: $desctop) {
      right: 50px
    }
    &:before {
      background-image: url('../img/svg/arrow-right.svg');
    }
  }
  .slick-dots {
    bottom: 50px;
    @media only screen and (max-width: $mobile-1) {
      display: none;
    }
    li {
      width: auto;
      height: auto;
      margin: 0 10px;
      button {
        width: 12px;
        height: 12px;
        &:before {
          width: 12px;
          height: 12px;
          background-color: #fff;
          opacity: 1;
          font-size: 0;
          @include transition(all, .35s, ease);
          @include border-radius(50%)
        }
      }
      &.slick-active {
        button {
          &:before {
            background-color: $accent;
          }
        }
      }
    }
  }
}