.c-breadcrumbs-wrap
    .container-fluid
        .row
            .c-breadcrumbs
                a(href="#").c-breadcrumbs__item Главная
                a(href="#").c-breadcrumbs__item Каталог
                span.c-breadcrumbs__item.c-breadcrumbs__item--span Запчасти для холодильников
