.c-cart-table-wrap
    .container-fluid
        .c-cart-table
            .row
                .col-md-2.col-sm-2.c-cart-table__column-caption.hidden-table
                   |  Фото
                .col-md-4.col-sm-6.c-cart-table__column-caption.hidden-table
                   |  Наименование
                .col-md-2.col-sm-2.c-cart-table__column-caption.hidden-table
                   |  Количество
                .col-md-2.col-sm-2.c-cart-table__column-caption.hidden-table
                   |  Цена
                .col-md-2.c-cart-table__column-caption.hidden-table
                   |  Удалить
            .row.c-cart-table__row
                .col-md-2.col-sm-3.c-cart-table__column.c-cart-table__column--img
                    img(src="img/product/product-1.png").c-cart-table__img
                .col-md-4.col-sm-5.c-cart-table__column.c-cart-table__column--desc
                    .c-cart-table__product-content
                        span.c-cart-table__title Вентилятор С09 в сборе (С00851151) холодильника Indesit
                        span.c-cart-table__articul Артикул: 3895489506
                        p.c-cart-table__count Количество:
                            span 500

                        span.c-cart-table__price 100.800 Р
                        button.c-cart-table__delete.only-table Удалить

                .col-md-2.col-sm-2.c-cart-table__column.hidden-sm-down
                   |  500
                .col-md-2.col-sm-2.c-cart-table__column.hidden-sm-down
                   |  100.800 Р
                .col-md-2.c-cart-table__column.hidden-table
                    button.c-cart-table__delete
                        +icon('multiply','c-cart-table__delete--icon')
            .row.c-cart-table__row
                .col-md-2.col-sm-3.c-cart-table__column.c-cart-table__column--img
                    img(src="img/product/product-1.png").c-cart-table__img
                .col-md-4.col-sm-5.c-cart-table__column.c-cart-table__column--desc
                    .c-cart-table__product-content
                        span.c-cart-table__title Вентилятор С09 в сборе (С00851151) холодильника Indesit
                        span.c-cart-table__articul Артикул: 3895489506
                        p.c-cart-table__count Количество:
                            span 500

                        span.c-cart-table__price 100.800 Р
                        button.c-cart-table__delete.only-table Удалить

                .col-md-2.col-sm-2.c-cart-table__column.hidden-sm-down
                    |  500
                .col-md-2.col-sm-2.c-cart-table__column.hidden-sm-down
                    |  100.800 Р
                .col-md-2.c-cart-table__column.hidden-table
                    button.c-cart-table__delete
                        +icon('multiply','c-cart-table__delete--icon')


