.c-catalog-caprion-wrap
    .container-fluid
        .row
            h1.c-catalog-caption
                +icon('refrigerator','c-catalog-caption__icon')
                | Запчасти для ХОЛОДИЛЬНИКов


