.c-categories-list
    .container-fluid
        .c-categories-list__row
            .col-md-2.c-categories-list__caption-wrapp.c-categories-list__caption-wrapp--product-card
                h1.c-categories-list__caption
                    span.c-categories-list__caption--bold Запчасти для
                    span бытовой техники
            .col-md-8.c-categories-list__categories
                a(href="catalog.html").c-categories-list__item
                    .c-categories-list__inside-wrap
                        +icon('refrigerator','c-categories-list__icon c-categories-list__icon--refrigerator')
                        span.c-categories-list__item-title ХОЛОДИЛЬНИКИ

                a(href="catalog.html").c-categories-list__item
                    .c-categories-list__inside-wrap
                        +icon('washing-machine','c-categories-list__icon c-categories-list__icon--washing-machine')
                        span.c-categories-list__item-title СТИРАЛЬНЫЕ МАШИНЫ
                a(href="catalog.html").c-categories-list__item
                    .c-categories-list__inside-wrap
                        +icon('dishwasher','c-categories-list__icon c-categories-list__icon--dishwasher')
                        span.c-categories-list__item-title ПОСУДОМОЕЧНЫЕ МАШИНЫ
                a(href="catalog.html").c-categories-list__item
                    .c-categories-list__inside-wrap
                        +icon('stove','c-categories-list__icon c-categories-list__icon--stove')
                        span.c-categories-list__item-title ЭЛЕКТРИЧЕСКИЕ, ГАЗОВЫЕ ПЛИТЫ
                //Hidden category
                .c-categories-list__hidden-categoris
                    .col-md-2.c-categories-list__caption-wrapp
                    .col-md-8.c-categories-list__categories
                        a(href="catalog.html").c-categories-list__item.c-categories-list__item--hidden
                            .c-categories-list__inside-wrap
                                +icon('vacuum-cleaner','c-categories-list__icon c-categories-list__icon--vacuum-cleaner')
                                span.c-categories-list__item-title Пылесосы
                        a(href="catalog.html").c-categories-list__item.c-categories-list__item--hidden
                            .c-categories-list__inside-wrap
                                +icon('microwave-oven','c-categories-list__icon c-categories-list__icon--microwave-oven')
                                span.c-categories-list__item-title Микроволновки
                        a(href="catalog.html").c-categories-list__item.c-categories-list__item--hidden
                            .c-categories-list__inside-wrap
                                +icon('mixer-1','c-categories-list__icon c-categories-list__icon--mixer')
                                span.c-categories-list__item-title Кухонные комбайны
                        a(href="catalog.html").c-categories-list__item.c-categories-list__item--hidden
                            .c-categories-list__inside-wrap
                                +icon('iron','c-categories-list__icon c-categories-list__icon--iron')
                                span.c-categories-list__item-title Мелкая бытовая техника
                        a(href="catalog.html").c-categories-list__item.c-categories-list__item--hidden
                            .c-categories-list__inside-wrap
                                +icon('boiler','c-categories-list__icon c-categories-list__icon--boiler')
                                span.c-categories-list__item-title Водонагреватели
                        a(href="catalog.html").c-categories-list__item.c-categories-list__item--hidden
                            .c-categories-list__inside-wrap
                                +icon('multicooker','c-categories-list__icon c-categories-list__icon--multicooker')
                                span.c-categories-list__item-title Хлебопечки
                        a(href="catalog.html").c-categories-list__item.c-categories-list__item--hidden
                            .c-categories-list__inside-wrap
                                +icon('meat-grinder','c-categories-list__icon c-categories-list__icon--meat-grinder')
                                span.c-categories-list__item-title Мясорубки

                    .col-md-2.hidden-table
                //Open all category
                a(href="#").c-categories-list__item.c-categories-list__open-category-btn.only-table
                    .c-categories-list__inside-wrap
                        +icon('gears','c-categories-list__icon c-categories-list__icon--gears')
                        +icon('multiply','c-categories-list__icon c-categories-list__icon--close')
                        span.c-categories-list__item-title Все запчасти

            .col-md-2.hidden-table
                //Open all category
                a(href="#").c-categories-list__item.c-categories-list__open-category-btn
                    .c-categories-list__inside-wrap
                        +icon('gears','c-categories-list__icon c-categories-list__icon--gears')
                        +icon('multiply','c-categories-list__icon c-categories-list__icon--close')
                        span.c-categories-list__item-title Все запчасти