.c-products-list
    .container-fluid
        .row
            .col-lg-3.col-md-4.col-sm-4.c-product__wrapp
                .c-product
                    .c-product__front
                        a(href="product.html").c-product__title Термостат среднетемпературный К-59L1275 (2,5)
                        img(src="img/product/product-1.png" alt="alt").c-product__img
                        .c-product__bottom
                            span.c-product__country
                                span.c-product__name-value Страна:
                                span.c-product__value Китай
                            span.c-product__name-value В наличии
                        .c-product__bottom--mobile
                            span.c-product__price 10 800 ₧
                            button(type="submit").button.button--btn-cart
                                +icon('shopping-cart','button--btn-icon')

                    .c-product__back
                        a(href="product.html").c-product__caption Вентилятор С09 в сборе (С00851151) холодильника Indesit
                        p.c-product__price 10 800 ₧
                        div
                            .c-product__country-back
                                span.c-product__name-value-back Страна:
                                span.c-product__value-back Китай
                            span.c-product__name-value-back В наличии
                        button(type="submit").button.button--product Купить
            .col-lg-3.col-md-4.col-sm-4.c-product__wrapp
                .c-product
                    .c-product__front
                        a(href="product.html").c-product__title Термостат среднетемпературный К-59L1275 (2,5)
                        img(src="img/product/product-1.png" alt="alt").c-product__img
                        .c-product__bottom
                            span.c-product__country
                                span.c-product__name-value Страна:
                                span.c-product__value Китай
                            span.c-product__name-value В наличии
                        .c-product__bottom--mobile
                            span.c-product__price 10 800 ₧
                            button(type="submit").button.button--btn-cart
                                +icon('shopping-cart','button--btn-icon')


                    .c-product__back
                        a(href="product.html").c-product__caption Вентилятор С09 в сборе (С00851151) холодильника Indesit
                        p.c-product__price 10 800 ₧
                        div
                            .c-product__country-back
                                span.c-product__name-value-back Страна:
                                span.c-product__value-back Китай
                            span.c-product__name-value-back В наличии
                        button(type="submit").button.button--product Купить
            .col-lg-3.col-md-4.col-sm-4.c-product__wrapp
                .c-product
                    .c-product__front
                        a(href="product.html").c-product__title Термостат среднетемпературный К-59L1275 (2,5)
                        img(src="img/product/product-1.png" alt="alt").c-product__img
                        .c-product__bottom
                            span.c-product__country
                                span.c-product__name-value Страна:
                                span.c-product__value Китай
                            span.c-product__name-value В наличии
                        .c-product__bottom--mobile
                            span.c-product__price 10 800 ₧
                            button(type="submit").button.button--btn-cart
                                +icon('shopping-cart','button--btn-icon')

                    .c-product__back
                        a(href="product.html").c-product__caption Вентилятор С09 в сборе (С00851151) холодильника Indesit
                        p.c-product__price 10 800 ₧
                        div
                            .c-product__country-back
                                span.c-product__name-value-back Страна:
                                span.c-product__value-back Китай
                            span.c-product__name-value-back В наличии
                        button(type="submit").button.button--product Купить
            .col-lg-3.col-md-4.col-sm-4.c-product__wrapp
                .c-product
                    .c-product__front
                        a(href="product.html").c-product__title Термостат среднетемпературный К-59L1275 (2,5)
                        img(src="img/product/product-1.png" alt="alt").c-product__img
                        .c-product__bottom
                            span.c-product__country
                                span.c-product__name-value Страна:
                                span.c-product__value Китай
                            span.c-product__name-value В наличии
                        .c-product__bottom--mobile
                            span.c-product__price 10 800 ₧
                            button(type="submit").button.button--btn-cart
                                +icon('shopping-cart','button--btn-icon')

                    .c-product__back
                        a(href="product.html").c-product__caption Вентилятор С09 в сборе (С00851151) холодильника Indesit
                        p.c-product__price 10 800 ₧
                        div
                            .c-product__country-back
                                span.c-product__name-value-back Страна:
                                span.c-product__value-back Китай
                            span.c-product__name-value-back В наличии
                        button(type="submit").button.button--product Купить
            .col-lg-3.col-md-4.col-sm-4.c-product__wrapp
                .c-product
                    .c-product__front
                        a(href="product.html").c-product__title Термостат среднетемпературный К-59L1275 (2,5)
                        img(src="img/product/product-1.png" alt="alt").c-product__img
                        .c-product__bottom
                            span.c-product__country
                                span.c-product__name-value Страна:
                                span.c-product__value Китай
                            span.c-product__name-value В наличии
                        .c-product__bottom--mobile
                            span.c-product__price 10 800 ₧
                            button(type="submit").button.button--btn-cart
                                +icon('shopping-cart','button--btn-icon')

                    .c-product__back
                        a(href="product.html").c-product__caption Вентилятор С09 в сборе (С00851151) холодильника Indesit
                        p.c-product__price 10 800 ₧
                        div
                            .c-product__country-back
                                span.c-product__name-value-back Страна:
                                span.c-product__value-back Китай
                            span.c-product__name-value-back В наличии
                        button(type="submit").button.button--product Купить
            .col-lg-3.col-md-4.col-sm-4.c-product__wrapp
                .c-product
                    .c-product__front
                        a(href="product.html").c-product__title Термостат среднетемпературный К-59L1275 (2,5)
                        img(src="img/product/product-1.png" alt="alt").c-product__img
                        .c-product__bottom
                            span.c-product__country
                                span.c-product__name-value Страна:
                                span.c-product__value Китай
                            span.c-product__name-value В наличии
                        .c-product__bottom--mobile
                            span.c-product__price 10 800 ₧
                            button(type="submit").button.button--btn-cart
                                +icon('shopping-cart','button--btn-icon')


                    .c-product__back
                        a(href="product.html").c-product__caption Вентилятор С09 в сборе (С00851151) холодильника Indesit
                        p.c-product__price 10 800 ₧
                        div
                            .c-product__country-back
                                span.c-product__name-value-back Страна:
                                span.c-product__value-back Китай
                            span.c-product__name-value-back В наличии
                        button(type="submit").button.button--product Купить
            .col-lg-3.col-md-4.col-sm-4.c-product__wrapp
                .c-product
                    .c-product__front
                        a(href="product.html").c-product__title Термостат среднетемпературный К-59L1275 (2,5)
                        img(src="img/product/product-1.png" alt="alt").c-product__img
                        .c-product__bottom
                            span.c-product__country
                                span.c-product__name-value Страна:
                                span.c-product__value Китай
                            span.c-product__name-value В наличии
                        .c-product__bottom--mobile
                            span.c-product__price 10 800 ₧
                            button(type="submit").button.button--btn-cart
                                +icon('shopping-cart','button--btn-icon')

                    .c-product__back
                        a(href="product.html").c-product__caption Вентилятор С09 в сборе (С00851151) холодильника Indesit
                        p.c-product__price 10 800 ₧
                        div
                            .c-product__country-back
                                span.c-product__name-value-back Страна:
                                span.c-product__value-back Китай
                            span.c-product__name-value-back В наличии
                        button(type="submit").button.button--product Купить


