.c-filters
    .container-fluid
        .row
            .col-lg-3.col-md-6.col-sm-6.c-filter__wrapp
                .c-filter(data-main="a")
                    .c-filter__caption-wrap
                        span.c-filter__caption Вид детали
                        +icon('sort-down','c-filter__icon')
                    .c-filter__dropdown(data-child="a")
                        a.c-filter__item(href='#') Бренд
                        a.c-filter__item(href='#') Вид детали
                        a.c-filter__item(href='#') От дешевых к дорогим
            .col-lg-3.col-md-6.col-sm-6.c-filter__wrapp
                .c-filter(data-main="b")
                    .c-filter__caption-wrap
                        span.c-filter__caption Бренд
                        +icon('sort-down','c-filter__icon')
                    .c-filter__dropdown(data-child="b")
                        a.c-filter__item(href='#') Вид детали
                        a.c-filter__item(href='#') От дешевых к дорогим
                        a.c-filter__item(href='#') Бренд
                        a.c-filter__item(href='#') От дешевых к дорогим
            .col-lg-3.col-md-6.col-sm-6.c-filter__wrapp
                .c-filter(data-main="c")
                    .c-filter__caption-wrap
                        span.c-filter__caption Страна
                        +icon('sort-down','c-filter__icon')
                    .c-filter__dropdown(data-child="c")
                        a.c-filter__item(href='#') Вид детали
                        a.c-filter__item(href='#') От дешевых к дорогим
                        a.c-filter__item(href='#') Бренд
                        a.c-filter__item(href='#') Вид детали
                        a.c-filter__item(href='#') От дешевых к дорогим
            .col-lg-3.col-md-6.col-sm-6.c-filter__wrapp
                .c-filter(data-main="d")
                    .c-filter__caption-wrap
                        span.c-filter__caption От дешевых к дорогим
                        +icon('sort-down','c-filter__icon')
                    .c-filter__dropdown(data-child="d")
                        a.c-filter__item(href='#') Бренд
                        a.c-filter__item(href='#') Вид детали
                        a.c-filter__item(href='#') От дешевых к дорогим






