footer.c-footer
    .container-fluid
        .row
            .col-sm-3
                a(href="#").c-footer__logo
                    img(src="img/logo-footer.png" alt="alt").c-footer__logo-img
            .col-sm-9.c-footer__item-wrap
                .c-footer__navigation
                    a(href="#").c-footer__navigation-item О компании
                    a(href="#").c-footer__navigation-item Каталог
                    a(href="#").c-footer__navigation-item Гарантия
                    a(href="#").c-footer__navigation-item Доставка и оплата
                div
                    a(href="#").c-footer__link Политика конфиденциальности
                    a(href="#").c-footer__link Пользовательское соглашение
        .row
            .c-footer__copyright
                a(href="#").c-footer__link.c-footer__link--copyright Сайт разработан веб-студией CREON




