.c-order-parameters
    .container-fluid
        .row
            .col-md-4.c-radios-wrap
                .c-radio-wrap
                    h3.c-order-parameters__caption Выберите способ оплаты
                    .c-radio
                        .main-radio
                            input#radio-1(name='payment', type='radio', checked='')
                            label.main-radio__label(for='radio-1') Наличными при получении
                        .main-radio
                            input#radio-2(name='payment', type='radio')
                            label.main-radio__label(for='radio-2') Курьеру при доставке
                        .main-radio
                            input#radio-3(name='payment', type='radio')
                            label.main-radio__label(for='radio-3') Банковской картой
                .c-radio-wrap
                    h3.c-order-parameters__caption Выберите способ доставки
                    .c-radio
                        .main-radio
                            input#radio-4(name='delivery', type='radio', checked='')
                            label.main-radio__label(for='radio-4') Самовывоз
                        .main-radio
                            input#radio-5(name='delivery', type='radio')
                            label.main-radio__label(for='radio-5') Доставка почтой РФ
                        .main-radio
                            input#radio-6(name='delivery', type='radio')
                            label.main-radio__label(for='radio-6') СДЭК
            .col-md-4.col-sm-6
                .c-ordering-form
                    h3.c-order-parameters__caption Укажите адрес доставки
                    input(type="text" placeholder="ФИО" required).main-input.required
                    input(type="email" placeholder="E-mail" required).main-input.required
                    input(type="tel" placeholder="Телефон" required).main-input.required.js-masked
                    input(type="text" placeholder="Почтовый индекс" required).main-input.required
                    input(type="text" placeholder="Область" required).main-input.required
                    input(type="text" placeholder="Город" required).main-input.required
                    input(type="text" placeholder="Улица" required).main-input.required
                    input(type="text" placeholder="Дом" required).main-input.required
                    input(type="text" placeholder="Комментарий к заказу" required).main-input
            .col-md-4.col-sm-6
                h3.c-order-parameters__caption Оформить заказ
                .c-ordering
                    h4.c-ordering__caption Сумма заказа
                    span.c-ordering__total 100.800 Р
                    p.c-ordering__personal-data Нажимая на кнопку Сделать заказ, я даю согласие на
                        a(href="#").c-ordering__personal-data--link обработку персональных данных
                    .c-ordering__button-wrap
                        button(type="submit").button.button--order.send Сделать заказ
                .error-text Не указан адрес доставки







