.c-product-card
    .container-fluid
        .row
            h2.c-product-card__caption Термостат среднетемпературный К-59L1275 (2,5)
        .row
            .col-lg-4.col-md-4.col-sm-6.c-carousel-wrap
                .c-carousel
                    .c-carousel__main
                        .c-carousel__item
                            img(src="img/product/product.png")
                        .c-carousel__item
                            img(src="img/product/product.png")
                        .c-carousel__item
                            img(src="img/product/product.png")
                        .c-carousel__item
                            img(src="img/product/product.png")
                    .c-carousel__nav
                        .c-carousel__thumb
                            img(src="img/product/product.png")
                        .c-carousel__thumb
                            img(src="img/product/product.png")
                        .c-carousel__thumb
                            img(src="img/product/product.png")
                        .c-carousel__thumb
                            img(src="img/product/product.png")
            .col-lg-4.col-md-4.col-sm-6.c-product-card__short-desc
                p.c-product-card__values
                    span.c-product-card__value.c-product-card__value--caption Артикул:
                    span.c-product-card__value 07532045657
                p.c-product-card__values
                    span.c-product-card__value.c-product-card__value--caption Страна:
                    span.c-product-card__value Беларусь
                p.c-product-card__values
                    span.c-product-card__value.c-product-card__value--caption Габариты:
                    span.c-product-card__value W105TX, W103UK, W103UKBG, W113UK, W123UK, W123UK(BG)/M, W123UK(BG)/P, W133UK, W143UK, W161UK, W83UK, W93UK, WA125UK, WA135UK, WA155UK, WAX120UK, WAX120UK/M, WAX120UK/P
                p.c-product-card__values
                    span.c-product-card__value.c-product-card__value--caption.c-product-card__value--blue В наличии
                .c-product-card__price-wrap
                    span.c-product-card__price 100.500 Р
                    span.c-product-card__price.c-product-card__price--for-you
                        span.c-product-card__price--label Цена для вас
                        | 100.500 Р
                form.c-product-card__form
                    p.c-product-card__form-label Количество
                    .c-product-card__inputs
                        input(type="number" value="500").c-product-card__count
                        button(type="submit").button.button--product--xl КУПИТЬ


            .col-lg-8.col-md-8.c-product-card__description
                h3.c-product-card__description-caption Описание
                p.c-product-card__text Холодильник является одним из незаменимых предметов на любой кухни. Его незаменимость сразу же ощущается если он выходит из строя.  Однако, любая поломка может быть устранена если купить необходимые запчасти к холодильникам и в этом вам поможет интернет-магазин Finholod.spb.ru. В этом магазине вы легко сможете найти необходимую деталь для холодильников любого бренда.
                p.c-product-card__text Высокое качество, доступные цены, быстрая доставка по Санкт-Петербургу и России, а также более тысячи различных запчастей – все это относится к нашему сайту. В магазине вы можете купить необходимые запчасти как онлайн, так и позвонив по телефону 8 (812) 336-22-16. Через несколько дней после заказа деталь будет доставлена, а ваш холодильник снова будет гудеть и морозить. Finholod.spb.ru – лучший интернет-магазин, который только можно найти!











