header.c-sidebar
    a(href="#").c-sidebar__btn-mob#btn-map
        +icon('locate-place','c-sidebar__icon-mob')
    a(href="#").c-sidebar__logo
        img(src="img/logo.png" alt="Finholod").c-sidebar__logo-img
        p.c-sidebar__logo-desc Запчасти для бытовой техники
    a(href="#").c-sidebar__btn-mob
        +icon('telephone','c-sidebar__icon-mob')
    .c-sidebar__phone-wrapp
        a(href="tel:88123362216").c-sidebar__phone
            +icon('telephone','c-sidebar__icon')
            | 8 (812) 336-22-16
        a(href="tel:89811221329").c-sidebar__phone 8 (981) 122-13-29

    a(href="malito:sale@finholod.spb.ru").c-sidebar__email
        +icon('mail','c-sidebar__icon c-sidebar__icon--mail')
        | sale@finholod.spb.ru
    p.c-sidebar__address
        +icon('map-loc','c-sidebar__icon c-sidebar__icon--map-loc')
        | г. Санкт-Петербург
        br
        | ул. Седова д. 10, Бизнес-центр "Точка"
    a(href="#").c-sidebar__address-link посмотреть на карте
    .c-sidebar__btn-wrap
        a(href="#feedback").button.button--sidebar.js-modal-open Запрос детали
    p.c-sidebar__desc Это широкий ассортимент комплектующих и аксессуаров к различной бытовой технике от мировых производителей.  Мы существуем на рынке запчастей и комплектующих к бытовой технике уже порядка 10 лет и поэтому точно знаем, что именно необходимо покупателям.
    p.c-sidebar__desc.c-sidebar__desc--bold Вы легко сможете выбрать деталь или аксессуар, который идеально подойдет к той или иной модели.
    .c-sidebar__lists
        .c-sidebar__list
            span.c-sidebar__caption Сервисы
            a(href="#").c-sidebar__list-link Главная
            a(href="#").c-sidebar__list-link Отзывы
            a(href="#").c-sidebar__list-link Услуги
            a(href="#").c-sidebar__list-link Доставка
            a(href="#").c-sidebar__list-link Гарантия
            a(href="#").c-sidebar__list-link О магазине
            a(href="#").c-sidebar__list-link Контакты
        .c-sidebar__list
            span.c-sidebar__caption Каталог
            a(href="#").c-sidebar__list-link Холодильники
            a(href="#").c-sidebar__list-link Стиральные машины
            a(href="#").c-sidebar__list-link Посудомоечные машины
            a(href="#").c-sidebar__list-link Пылесосы
            a(href="#").c-sidebar__list-link Микроволновые печи
            a(href="#").c-sidebar__list-link Электрические плиты
            a(href="#").c-sidebar__list-link Полный каталог
    a(href="#").c-sidebar__link Политика конфиденциальности
    a(href="#").c-sidebar__link Пользовательское соглашение
    //a(href="#").c-sidebar__link.c-sidebar__link--copyright Сайт разработан веб-студией CREON





