@import "../includes/vars";
@import "../includes/mixin";

.c-header {
  position: relative;
  background-color: #ffffff;
  &__top-line{
    padding: 25px 0;
    @media only screen and (min-width: $tablet_xs) {
      padding: 35px 0 27px;
    }
    @media only screen and (min-width: $tablet) {
      padding: 32px 0 25px;
    }
    @media only screen and (min-width: $desctop) {
      padding: 43px 0 30px;
    }
  }
  &__logo-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    @media only screen and (max-width: $tablet_xs-1) {
      justify-content: center;
      margin-bottom: 25px;
    }
    @media only screen and (max-width: $mobile_sm-1) {
      margin-bottom: 15px;
    }
  }
  &__logo{
    display: block;
    margin-right: 14px;
    @media only screen and (min-width: $tablet_sm) {
      margin-right: 17px;
    }
    @media only screen and (min-width: $tablet) {
      margin-right: 19px;
    }
    @media only screen and (min-width: $desctop) {
      margin-right: 21px;
    }
  }
  &__logo-icon{
    color: $additional;
    font-size: 43px;
    @media only screen and (min-width: $mobile_sm) {
      font-size: 68px;
    }
    @media only screen and (min-width: $tablet_xs) {
      font-size: 56px;
    }
    @media only screen and (min-width: $tablet_sm) {
      font-size: 68px;
    }
    @media only screen and (min-width: $tablet) {
      font-size: 90px;
    }
    @media only screen and (min-width: 1150px) {
      font-size: 93px;
    }
    @media only screen and (min-width: $desctop) {
      font-size: 98px;
    }
  }
  &__subcaption{
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
    color: $dark;
    @media only screen and (min-width: $mobile_sm) {
      font-size: 15px;
    }
    @media only screen and (min-width: $tablet_xs) {
      font-size: 12px;
    }
    @media only screen and (min-width: $tablet) {
      font-size: 15px;
    }
    @media only screen and (min-width: $desctop) {
      font-size: 16px;
    }
  }
  &__caption{
    font: 700 19px $bold-font;
    text-transform: uppercase;
    color: $dark;
    @media only screen and (min-width: $mobile_sm) {
      font-size: 32px;
    }
    @media only screen and (min-width: $tablet_xs) {
      font-size: 25px;
    }
    @media only screen and (min-width: $tablet_sm) {
      font-size: 32px;
    }
    @media only screen and (min-width: $tablet) {
      font-size: 33px;
    }
    @media only screen and (min-width: 1150px) {
      font-size: 38px;
    }
    @media only screen and (min-width: $desctop) {
      font-size: 41px;
    }
  }
  &__phone-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: $tablet_xs) {
      justify-content: flex-end;
    }
  }
  &__hours-icon{
    font-size: 40px;
    margin-right: 14px;
    @media only screen and (min-width: $mobile_sm) {
      font-size: 53px;
    }
    @media only screen and (min-width: $tablet_xs) {
      font-size: 45px;
    }
    @media only screen and (min-width: $tablet_sm) {
      font-size: 55px;
      margin-right: 20px;
    }
    @media only screen and (min-width: 1150px) {
      font-size: 60px;
    }
    @media only screen and (min-width: $desctop) {
      font-size: 63px;
      margin-right: 37px;
    }
  }
  &__phone-caption{
    font-size: 13px;
    font-weight: 400;
    color: $accent;
    display: block;
    @media only screen and (min-width: $mobile_sm) {
      font-size: 22px;
    }
    @media only screen and (min-width: $tablet_xs) {
      font-size: 17px;
    }
    @media only screen and (min-width: $tablet_sm) {
      font-size: 23px;
    }
    @media only screen and (min-width: $tablet_md) {
      font-size: 25px;
    }
    @media only screen and (min-width: $desctop) {
      font-size: 26px;
    }
  }
  &__phone{
    font: 700 12px$bold-font;
    text-transform: uppercase;
    color: $dark;
    text-decoration: none;
    position: relative;
    &:hover{
      color: $accent;
    }
    &:last-child{
      margin-left: 9px;
      padding-left: 11px;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 7px;
        width: 4px;
        height: 4px;

        background-color: $additional;
        @include border-radius(50%);
      }
    }
    @media only screen and (min-width: $mobile_sm) {
      font-size: 20px;
      &:last-child{
        margin-left: 16px;
        padding-left: 22px;
        &:before{
          top: 9px;
          width: 6px;
          height: 6px;
        }
      }
    }
    @media only screen and (min-width: $tablet_xs) {
      font-size: 15px;
      &:last-child{
        &:before{
          top: 7px;
        }
      }
    }
    @media only screen and (min-width: $tablet_sm) {
      font-size: 21px;
      &:last-child{
        margin-left: 21px;
        padding-left: 22px;
        &:before{
          top: 11px;
          width: 8px;
          height: 8px;
        }
      }
    }
    @media only screen and (min-width: $tablet_md) {
      font-size: 23px;
    }
    @media only screen and (min-width: $desctop) {
      font-size: 24px;
    }
  }
}
//NAVIGATION
.c-navigation-wrap{
  background-color: $additional;
}
.c-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  &__item{
    font: 700 14px $bold-font;
    text-transform: uppercase;
    padding: 15px 10px;
    color: #ffffff;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    @include transition(all, .4s, ease);
    &:hover,
    &:focus,
    &:active{
      background-color: #0dbdb3;
    }
    @media only screen and (min-width: $mobile_sm) {
      font-size: 18px;
      padding: 22px 15px;
    }
    @media only screen and (min-width: $tablet_xs) {
      font-size: 13px;
      padding: 18px 5px;
    }
    @media only screen and (min-width: $tablet_sm) {
      font-size: 16px;
      padding: 22px 10px;
    }
    @media only screen and (min-width: $desctop) {
      padding: 27px 15px;
    }
    @media only screen and (min-width: $desctop) {
      padding: 30px 15px;
    }
    &--sub-menu{
      @media only screen and (max-width: $tablet_xs-1) {
        padding: 10px 10px;
      }
    }
  }
  &--table{
    display: none;
    @media only screen and (min-width: $tablet_xs) {
      display: flex;
    }
  }
  &--mobile{
    @media only screen and (min-width: $tablet_xs) {
      display: none;
    }
  }
  &__sub-menu{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 100%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    background-color: $additional;
    padding: 5px 0;
    @include transition(all,.4s, ease);
  }
  &__item-icon{
    font-size: 12px;
    margin-left: 30px;
    @include rotate(-90deg);
    @include transition(all,.4s, ease);
  }
  &__mobile-item{
    display: flex;
    flex: 1;
    max-width: 50%;
    position: relative;
    &.active{
      .c-navigation__sub-menu{
        opacity: 1;
        max-height: 100vh;
        visibility: visible;
      }
      .c-navigation__item-icon{
        @include rotate(90deg);
      }
    }
  }
}




