doctype html
html
      //include Head
      include ./includes/head.jade
      body
            //Sprite
            include ./includes/sprite.jade

            //Header
            include ./includes/components/c-header.jade
            //Valuation
            include ./includes/components/c-valuation.jade
            //Features
            include ./includes/components/c-features.jade
            //Steps
            include ./includes/components/c-steps.jade
            //Banner
            include ./includes/components/c-banner.jade
            //Comparison
            include ./includes/components/c-comparison.jade
            //Reviews
            include ./includes/components/c-reviews.jade
            //Banner
            include ./includes/components/c-banner-white.jade
            //Brands
            include ./includes/components/c-brands.jade
            //Questions
            include ./includes/components/c-questions.jade
            //Footer
            include ./includes/components/c-footer.jade

            //Scripts
            include ./includes/scripts.jade

