.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-boiler {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-dishwasher {
  font-size:(463/10)*1rem;
  width:(463/463)*1em;
}
.icon-fire {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-gears {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-iron {
  font-size:(462.96/10)*1rem;
  width:(462.96/462.96)*1em;
}
.icon-list {
  font-size:(489.7/10)*1rem;
  width:(489.7/489.7)*1em;
}
.icon-locate-place {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-lock {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-mail {
  font-size:(16/10)*1rem;
  width:(20/16)*1em;
}
.icon-map-loc {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-meat-grinder {
  font-size:(463/10)*1rem;
  width:(463/463)*1em;
}
.icon-microwave-oven {
  font-size:(463/10)*1rem;
  width:(463/463)*1em;
}
.icon-mixer-1 {
  font-size:(463/10)*1rem;
  width:(463/463)*1em;
}
.icon-multicooker {
  font-size:(463/10)*1rem;
  width:(463/463)*1em;
}
.icon-multiply {
  font-size:(31.11/10)*1rem;
  width:(31.11/31.11)*1em;
}
.icon-refrigerator {
  font-size:(463/10)*1rem;
  width:(463/463)*1em;
}
.icon-refrigerator1 {
  font-size:(463/10)*1rem;
  width:(463/463)*1em;
}
.icon-right-arrow {
  font-size:(66/10)*1rem;
  width:(95/66)*1em;
}
.icon-right-arrow-white {
  font-size:(13/10)*1rem;
  width:(17/13)*1em;
}
.icon-search {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon-shopping-cart {
  font-size:(297/10)*1rem;
  width:(297/297)*1em;
}
.icon-shopping-cart2 {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-shopping-cart2-1 {
  font-size:(23/10)*1rem;
  width:(25/23)*1em;
}
.icon-sort-down {
  font-size:(292.362/10)*1rem;
  width:(292.362/292.362)*1em;
}
.icon-stove {
  font-size:(463/10)*1rem;
  width:(463/463)*1em;
}
.icon-telephone {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-vacuum-cleaner {
  font-size:(463/10)*1rem;
  width:(463/463)*1em;
}
.icon-washing-machine {
  font-size:(463/10)*1rem;
  width:(463/463)*1em;
}
