@import "../includes/vars";
@import "../includes/mixin";

.c-breadcrumbs{
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
  @media only screen and (max-width: 768px){
    margin-top: 15px;
  }
  @media only screen and (min-width: $mobile){
    margin-bottom: 42px;
  }
  @media only screen and (min-width: $tablet){
    margin-bottom: 30px;
  }
  @media only screen and (min-width: $desctop){
    margin-bottom: 40px;
  }
  &__item{
    @include g-col;
    color: $accent;
    font: 700 10px $Lato-bd;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 160px;
    @media only screen and (min-width: 401px){
      font-size: 14px;
    }
    @media only screen and (min-width: $mobile){
      font-size: 16px;
      max-width: 270px;
    }
    @media only screen and (min-width: $tablet){
      font-size: 12px;

    }
    @media only screen and (min-width: $desctop){
      font-size: 14px;
    }
    &--span{
      color: $dark;
    }
    &:before{
      content: '/';
      position: absolute;
      left: 0;
      color: $dark;
    }
    &:first-child{
      &:before{
        display: none;
      }
    }

  }

}
