section(style="background-image: url('img/banner.png')").c-banner.c-banner--contain
    .g-container
        .g-row
            .c-banner__content
                h2.c-banner__caption Заполни простую форму и узнай
                    br
                    | цену своего авто
                a(href="#").button Заполнить



