section(style="background-image: url('img/register.jpg')").c-banner.c-banner--black
    .g-container
        .g-row
            .c-banner__content
                h2.c-banner__caption Запишись на продажу автомобиля.
                    br
                    | Если цена не устроит — ничего не потеряешь
                a(href="#").button Записаться



