section.c-comparison
    .g-container
        .g-row
            .c-comparison__item.c-comparison__item--carprice
                .c-comparison__choice.c-comparison__choice--carprice
                    .c-comparison__caption.c-comparison__caption--carprice
                        h2.c-comparison__title.c-comparison__title--white CarPrice
                    ul.c-comparison__list
                        li.c-comparison__list-item
                            //+icon('close','c-comparison__icn c-comparison__icn--not-receive')
                            +icon('check','c-comparison__icn c-comparison__icn--chek')
                            | Быстро
                        li.c-comparison__list-item
                            +icon('check','c-comparison__icn c-comparison__icn--chek')
                            | Безопасно
                        li.c-comparison__list-item
                            +icon('check','c-comparison__icn c-comparison__icn--chek')
                            | Деньги сразу
                        li.c-comparison__list-item
                            +icon('check','c-comparison__icn c-comparison__icn--chek')
                            | Комфортно
                        li.c-comparison__list-item
                            +icon('check','c-comparison__icn c-comparison__icn--chek')
                            | Выгодно
                    a(href="#").button.c-comparison__btn Выбрать
            .c-comparison__item
                .c-comparison__choice
                    .c-comparison__caption
                        h3.c-comparison__title Автосалоны
                    ul.c-comparison__list
                        li.c-comparison__list-item
                            +icon('check','c-comparison__icn c-comparison__icn--chek')
                            | Быстро
                        li.c-comparison__list-item
                            +icon('check','c-comparison__icn c-comparison__icn--chek')
                            | Безопасно
                        li.c-comparison__list-item.c-comparison__list-item--not-receiv
                            +icon('cross','c-comparison__icn')
                            | Деньги сразу
                        li.c-comparison__list-item.c-comparison__list-item--not-receiv
                            +icon('cross','c-comparison__icn')
                            | Комфортно
                        li.c-comparison__list-item.c-comparison__list-item--not-receiv
                            +icon('cross','c-comparison__icn')
                            | Выгодно
            .c-comparison__item
                .c-comparison__choice
                    .c-comparison__caption
                        h3.c-comparison__title Перекупщики
                    ul.c-comparison__list
                        li.c-comparison__list-item
                            +icon('check','c-comparison__icn c-comparison__icn--chek')
                            | Быстро
                        li.c-comparison__list-item.c-comparison__list-item--not-receiv
                            +icon('cross','c-comparison__icn')
                            | Безопасно
                        li.c-comparison__list-item
                            +icon('check','c-comparison__icn c-comparison__icn--chek')
                            | Деньги сразу
                        li.c-comparison__list-item.c-comparison__list-item--not-receiv
                            +icon('cross','c-comparison__icn')
                            | Комфортно
                        li.c-comparison__list-item.c-comparison__list-item--not-receiv
                            +icon('cross','c-comparison__icn')
                            | Выгодно
            .c-comparison__item
                .c-comparison__choice
                    .c-comparison__caption
                        h3.c-comparison__title Объявления
                    ul.c-comparison__list
                        li.c-comparison__list-item.c-comparison__list-item--not-receiv
                            +icon('cross','c-comparison__icn')
                            | Быстро
                        li.c-comparison__list-item.c-comparison__list-item--not-receiv
                            +icon('cross','c-comparison__icn')
                            | Безопасно
                        li.c-comparison__list-item.c-comparison__list-item--not-receiv
                            +icon('cross','c-comparison__icn')
                            | Деньги сразу
                        li.c-comparison__list-item.c-comparison__list-item--not-receiv
                            +icon('cross','c-comparison__icn')
                            | Комфортно
                        li.c-comparison__list-item
                            +icon('check','c-comparison__icn c-comparison__icn--chek')
                            | Выгодно