section.c-features
    .g-container
        .g-row
            .c-features__item
                +icon('stopwatch','c-features__icn')
                h3.c-features__caption Быстро
                p.c-features__desc Техническая диагностика, онлайн-аукцион, оформление документов и выдача денег за 2 часа.
            .c-features__item
                +icon('hand','c-features__icn')
                h3.c-features__caption Выгодно
                p.c-features__desc Цена на 20% выше, чем в автосалонах по программе Trade-In, благодаря конкуренции 27 000 аккредитованных автодилеров.
            .c-features__item
                +icon('shield','c-features__icn')
                h3.c-features__caption Безопасно
                p.c-features__desc CarPrice гарантирует юридическую «чистоту» сделки. Заключается договор и выплачивается  вся сумма без каких-либо комиссий и удержаний.
            .c-features__item
                +icon('coffee-cup','c-features__icn')
                h3.c-features__caption Комфортно
                p.c-features__desc Приезжайте в удобное время в ближайший филиал Карпрайса, где на мягком диване с кофе будете наблюдать за продажей.