footer.c-footer
    .g-container
        hr.c-footer__border
        .g-row.c-footer__row
            .c-footer__item.c-footer__item--md-9
                ul.c-footer__list
                    li.c-footer__list-item
                        a(href="#").c-footer__link Оценка авто
                    li.c-footer__list-item
                        a(href="#").c-footer__link Советы
                    li.c-footer__list-item
                        a(href="#").c-footer__link Отзывы
                    li.c-footer__list-item
                        a(href="#").c-footer__link Вопросы и ответы
                p.c-footer__copyright © 2014-2017 ООО «Селаникар»,
                    br
                    | официальный сайт, все права защищены
            .c-footer__item.c-footer__item--md-3
                a(href="#").callback ОБРАТНАЯ СВЯЗЬ





