header.c-header
    .c-header__top-line
        .g-container
            .g-row.c-header__row
                a(href="/").c-header__logo
                    +icon('logo','c-header__logo-img')
                    p.c-header__logo-desc Сервис №1 по продаже автомобилей с пробегом
                .c-header__right
                    .c-location
                        span.c-location__select
                            +icon('location','c-location__loc-icn')
                            span.c-location__name Москва
                            +icon('arrow_down','c-location__arrow-icn')
                        .c-location__list-wrap
                            ul.c-location__list.js-scroll
                                li.c-location__list-item
                                    a(href="").c-location__list-item Москва
                                    ul.c-location__list-child
                                        li.c-location__list-item
                                            a(href="").c-location__list-child-item МО
                                li.c-location__list-item
                                    a(href="").c-location__list-item Санкт-Петербург
                                    ul.c-location__list-child
                                        li.c-location__list-item
                                            a(href="").c-location__list-child-item Петербургская область
                                li.c-location__list-item
                                    a(href="").c-location__list-item Абакан
                                li.c-location__list-item
                                    a(href="").c-location__list-item Белгород
                                li.c-location__list-item
                                    a(href="").c-location__list-item Великий Новгород
                                li.c-location__list-item
                                    a(href="").c-location__list-item Владимир
                                li.c-location__list-item
                                    a(href="").c-location__list-item Волгоград
                                li.c-location__list-item
                                    a(href="").c-location__list-item Великий Новгород2
                                li.c-location__list-item
                                    a(href="").c-location__list-item Великий Новгород3
                                li.c-location__list-item
                                    a(href="").c-location__list-item Великий Новгород2
                                li.c-location__list-item
                                    a(href="").c-location__list-item Великий Новгород3
                    a(href="#").button.c-header__btn Оценить авто
                    //Burger
                    .c-header__burger-wrapp
                       .c-header__burger
                           .c-header__burger--icon
    .c-navbar-wrap
        .g-container
            .g-row
                nav.c-navbar
                    a(href="#").c-navbar__item Оценка авто
                    a(href="#").c-navbar__item Советы
                    a(href="#").c-navbar__item Отзывы
                    a(href="#").c-navbar__item Вопросы и ответы












