section.c-questions-wrap
    .g-container.c-questions-wrap__container
        h2.c-questions-caption Остались вопросы?
        .g-row
            .c-questions
                .c-questions__item
                    span.c-questions__btn
                        h2.c-questions__title Но я же могу получить более выгодную цену в Trade-In
                    .c-questions__content
                        p.c-questions__text Негативные отзывы, как правило, связаны с тем, что клиент не получил ту сумму, на которую рассчитывал. Специфика аукциона заключается в том, что максимальная ставка зависит от состояния автомобиля и его актуальности для дилеров. За 2 года мы помогли продать более 50 000 автомобилей.
                        p.c-questions__text Наша статистика говорит о том, что около 46% всех автомобилей, выставленных на аукцион, успешно продается. Кроме того, Вы можете проходить процедуру аукциона неограниченное количество раз, ведь все услуги компании для Вас абсолютно бесплатны.
                .c-questions__item
                    span.c-questions__btn
                        h2.c-questions__title Но можно же немного подождать и продать дороже
                    .c-questions__content
                        p.c-questions__text Негативные отзывы, как правило, связаны с тем, что клиент не получил ту сумму, на которую рассчитывал. Специфика аукциона заключается в том, что максимальная ставка зависит от состояния автомобиля и его актуальности для дилеров. За 2 года мы помогли продать более 50 000 автомобилей.
                        p.c-questions__text Наша статистика говорит о том, что около 46% всех автомобилей
                .c-questions__item
                    span.c-questions__btn
                        h2.c-questions__title Я могу продать на вторичном рынке и получить более высокую цену
                    .c-questions__content
                        p.c-questions__text Негативные отзывы, как правило, связаны с тем, что клиент не получил ту сумму, на которую рассчитывал. Специфика аукциона заключается в том, что максимальная ставка зависит от состояния автомобиля и его актуальности для дилеров. За 2 года мы помогли продать более 50 000 автомобилей.
                        p.c-questions__text Наша статистика говорит о том, что около 46% всех автомобилей
                .c-questions__item
                    span.c-questions__btn
                        h2.c-questions__title Я находил негативные отзывы от тех, кто прошел аукцион
                    .c-questions__content
                        p.c-questions__text Негативные отзывы, как правило, связаны с тем, что клиент не получил ту сумму, на которую рассчитывал. Специфика аукциона заключается в том, что максимальная ставка зависит от состояния автомобиля и его актуальности для дилеров. За 2 года мы помогли продать более 50 000 автомобилей.
                        p.c-questions__text Наша статистика говорит о том, что около 46% всех автомобилей

