section.c-reviews-wrap
    .g-container
        .g-row
            h2.c-reviews-caption Отзывы тех, кто реально продал
        .g-row
            .carousel
                .c-reviews
                    .c-reviews__item
                        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").c-reviews__thumb.js-popup-youtube
                            img(src="img/reviews/item-1.png" alt="alt").c-reviews__img
                    .c-reviews__item
                        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").c-reviews__thumb.js-popup-youtube
                            img(src="img/reviews/item-2.png" alt="alt").c-reviews__img
                    .c-reviews__item
                        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").c-reviews__thumb.js-popup-youtube
                            img(src="img/reviews/item-3.png" alt="alt").c-reviews__img
                    .c-reviews__item
                        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").c-reviews__thumb.js-popup-youtube
                            img(src="img/reviews/item-1.png" alt="alt").c-reviews__img
                    .c-reviews__item
                        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").c-reviews__thumb.js-popup-youtube
                            img(src="img/reviews/item-2.png" alt="alt").c-reviews__img
                    .c-reviews__item
                        a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").c-reviews__thumb.js-popup-youtube
                            img(src="img/reviews/item-3.png" alt="alt").c-reviews__img
                button.carousel__btn.carousel__btn--prev
                    +icon('arrow-left','carousel__btn-icn')
                button.carousel__btn.carousel__btn--next
                    +icon('arrow-right','carousel__btn-icn')
            .c-reviews-more
                a(href="#").c-reviews-more__link ВСЕ ОТЗЫВЫ





