section.c-steps-wrap
    .g-container
        .g-row
            .c-steps__col.c-steps__col--md-4
                h2.c-steps__caption Несколько простых шагов, которые приведут тебя к цели
                ol.c-step
                    li.c-step__item.active
                        span(data-main="a").c-step__title Отправь заявку
                        div.c-step__content
                            p.c-step__desc Узнай стоимость авто, заполнив
                                br
                                | простую форму, и дождись
                                br
                                | звонка менеджера.
                            a(href="#").button.c-step__btn Отправить
                    li.c-step__item
                        span(data-main="b").c-step__title Пройди бесплатную диагностику
                        div.c-step__content
                            p.c-step__desc Узнай стоимость авто, заполнив простую форму, и дождись звонка менеджера.
                    li.c-step__item
                        span(data-main="c").c-step__title Участвуй в онлайн-аукционе
                        div.c-step__content
                            p.c-step__desc Узнай стоимость авто, заполнив простую форму, и дождись звонка
                    li.c-step__item
                        span(data-main="d").c-step__title Получи деньги
                        div.c-step__content
                            p.c-step__desc Узнай стоимость авто, заполнив простую форму, и дождись звонка
            .c-steps__col.c-steps__col--md-6
                figure(data-child="a").c-steps__figure.active
                    img(src="img/step-1.jpg" alt="step")
                figure(data-child="b").c-steps__figure
                    img(src="img/step-2.jpg" alt="step")
                figure(data-child="c").c-steps__figure
                    img(src="img/step-3.jpg" alt="step")
                figure(data-child="d").c-steps__figure
                    img(src="img/step-4.jpg" alt="step")
