section.c-valuation
    .g-container
        .g-row
            div(style="background-image: url('img/valuation.png')").c-valuation__bg-img
                .c-valuation__apparition
                    h1.c-valuation__caption Как за 2 часа выгодно продать авто в Москве
                    .c-valuation__content
                        h2.c-valuation__subcaption Гарантированно купим любой автомобиль комфортно и безопасно
                        h3.c-valuation__desc Вся сумма выплачивается наличными или переводом на банковскую карту сразу после принятия решения о продаже автомобиля
                    a(href="#").button Продать автомобиль