doctype html
html
      //include Head
      include ./includes/head.jade
      body
            //Sprite
            include ./includes/sprite.jade
            .wrap.bg-dark
                  .content
                        //Header
                        include ./includes/components/c-header.jade
                        //Card slider
                        include ./includes/components/c-card-slider.jade
                  //Footer
                  include ./includes/components/c-footer.jade

            //Scripts
            include ./includes/scripts.jade

