doctype html
html
      //include Head
      include ./includes/head.jade
      body
            //Sprite
            include ./includes/sprite.jade
            .wrap
                  .content
                        //Header
                        include ./includes/components/c-header.jade
                        //Product
                        include ./includes/components/c-catalog.jade
                  //Footer
                  include ./includes/components/c-footer.jade

            //Scripts
            include ./includes/scripts.jade

