@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $size $color;
    -moz-box-shadow:inset $top $left $blur $size $color;
    box-shadow:inset $top $left $blur $size $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $size $color;
    -moz-box-shadow: $top $left $blur $size $color;
    box-shadow: $top $left $blur $size $color;
  }
}
@mixin border-radius($pixel...) {
  -webkit-border-radius: $pixel;
  -moz-border-radius: $pixel;
  border-radius: $pixel;
}
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}
// Translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
// Rotate
@mixin rotate($rotate) {
  @include transform(rotate($rotate));
}
//Transition
@mixin transition($what, $time, $how) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}
@mixin border( $width, $style, $color) {
  border: $width $style $color;
}

@mixin g-col(){
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}