.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-left {
  font-size:(492/10)*1rem;
  width:(492/492)*1em;
}
.icon-arrow-right {
  font-size:(492/10)*1rem;
  width:(492/492)*1em;
}
.icon-arrow_down {
  font-size:(560/10)*1rem;
  width:(960/560)*1em;
}
.icon-facebook-f {
  font-size:(512/10)*1rem;
  width:(264/512)*1em;
}
.icon-instagram {
  font-size:(512/10)*1rem;
  width:(448/512)*1em;
}
.icon-logo {
  font-size:(224/10)*1rem;
  width:(224/224)*1em;
}
.icon-vk {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
