section.c-catalog
    .container
        .row
            .category-caption__wrapp
                .category-caption
                    h2.category-caption__title СОВРЕМЕННЫЕ КУХНИ — ЭЛЕГАНТНОСТЬ И ФУНКЦИОНАЛЬНОСТЬ
                    p.category-caption__desc Высокий уровень компетенций в технологиях работы со шпоном, эмалевыми покрытиями, глянцевыми лаками, нержавеющей сталью, а также применение уникальных механизмов трансформации позволяют создавать кухни, отвечающие требованиям современности и предвосхищающие ожидания потребителей. Именно модели кухонь в стиле минимализм удостоены многих наград, в том числе премии Red Dot Design Award.
        //Catalog
        .row
            .col-md-4.col-sm-6
                figure.c-product
                    img(src="img/catalog/item-1.jpg" alt="alt").c-product__img
                    figcaption.c-product__content
                        h3.c-product__title Кухня KANT
                        .c-product__hover
                            .c-product__hover-inside
                                p.c-product__desc Модель Kant имеет свою философию, как и человек, давший имя нашей новой кухне. В ней заложены единство и борьба противоположностей: фасад выполнен на стыке дизайна и технологий.
                                a(href="card.html").read-more.read-more--small
                                    span.read-more__icon-wrap.read-more__icon-wrap--small
                                        +icon('arrow_down','read-more__icon read-more__icon--small')
                                    | подробнее...
            .col-md-4.col-sm-6
                figure.c-product
                    img(src="img/catalog/item-2.jpg" alt="alt").c-product__img
                    figcaption.c-product__content
                        h3.c-product__title Кухня LOFT
                        .c-product__hover
                            .c-product__hover-inside
                                p.c-product__desc Модель Kant имеет свою философию, как и человек, давший имя нашей новой кухне. В ней заложены единство и борьба противоположностей: фасад выполнен на стыке дизайна и технологий.
                                a(href="card.html").read-more.read-more--small
                                    span.read-more__icon-wrap.read-more__icon-wrap--small
                                        +icon('arrow_down','read-more__icon read-more__icon--small')
                                    | подробнее...
            .col-md-4.col-sm-6
                figure.c-product
                    img(src="img/catalog/item-3.jpg" alt="alt").c-product__img
                    figcaption.c-product__content
                        h3.c-product__title Кухня MARIA
                        .c-product__hover
                            .c-product__hover-inside
                                p.c-product__desc Модель Kant имеет свою философию, как и человек, давший имя нашей новой кухне. В ней заложены единство и борьба противоположностей: фасад выполнен на стыке дизайна и технологий.
                                a(href="card.html").read-more.read-more--small
                                    span.read-more__icon-wrap.read-more__icon-wrap--small
                                        +icon('arrow_down','read-more__icon read-more__icon--small')
                                    | подробнее...
            .col-md-4.col-sm-6
                figure.c-product
                    img(src="img/catalog/item-4.jpg" alt="alt").c-product__img
                    figcaption.c-product__content
                        h3.c-product__title Кухня PETRA
                        .c-product__hover
                            .c-product__hover-inside
                                p.c-product__desc Модель Kant имеет свою философию, как и человек, давший имя нашей новой кухне. В ней заложены единство и борьба противоположностей: фасад выполнен на стыке дизайна и технологий.
                                a(href="card.html").read-more.read-more--small
                                    span.read-more__icon-wrap.read-more__icon-wrap--small
                                        +icon('arrow_down','read-more__icon read-more__icon--small')
                                    | подробнее...
            .col-md-4.col-sm-6
                figure.c-product
                    img(src="img/catalog/item-5.jpg" alt="alt").c-product__img
                    figcaption.c-product__content
                        h3.c-product__title Кухня NICOLE
                        .c-product__hover
                            .c-product__hover-inside
                                p.c-product__desc Модель Kant имеет свою философию, как и человек, давший имя нашей новой кухне. В ней заложены единство и борьба противоположностей: фасад выполнен на стыке дизайна и технологий.
                                a(href="card.html").read-more.read-more--small
                                    span.read-more__icon-wrap.read-more__icon-wrap--small
                                        +icon('arrow_down','read-more__icon read-more__icon--small')
                                    | подробнее..
            .col-md-4.col-sm-6
                figure.c-product
                    img(src="img/catalog/item-6.jpg" alt="alt").c-product__img
                    figcaption.c-product__content
                        h3.c-product__title Кухня ANNA
                        .c-product__hover
                            .c-product__hover-inside
                                p.c-product__desc Модель Kant имеет свою философию, как и человек, давший имя нашей новой кухне. В ней заложены единство и борьба противоположностей: фасад выполнен на стыке дизайна и технологий.
                                a(href="card.html").read-more.read-more--small
                                    span.read-more__icon-wrap.read-more__icon-wrap--small
                                        +icon('arrow_down','read-more__icon read-more__icon--small')
                                    | подробнее..
            .col-md-4.col-sm-6
                figure.c-product
                    img(src="img/catalog/item-7.jpg" alt="alt").c-product__img
                    figcaption.c-product__content
                        h3.c-product__title Кухня MARIA LUCIDO
                        .c-product__hover
                            .c-product__hover-inside
                                p.c-product__desc Модель Kant имеет свою философию, как и человек, давший имя нашей новой кухне. В ней заложены единство и борьба противоположностей: фасад выполнен на стыке дизайна и технологий.
                                a(href="card.html").read-more.read-more--small
                                    span.read-more__icon-wrap.read-more__icon-wrap--small
                                        +icon('arrow_down','read-more__icon read-more__icon--small')
                                    | подробнее..
            .col-md-4.col-sm-6
                figure.c-product
                    img(src="img/catalog/item-8.jpg" alt="alt").c-product__img
                    figcaption.c-product__content
                        h3.c-product__title Кухня BRIO
                        .c-product__hover
                            .c-product__hover-inside
                                p.c-product__desc Модель Kant имеет свою философию, как и человек, давший имя нашей новой кухне. В ней заложены единство и борьба противоположностей: фасад выполнен на стыке дизайна и технологий.
                                a(href="card.html").read-more.read-more--small
                                    span.read-more__icon-wrap.read-more__icon-wrap--small
                                        +icon('arrow_down','read-more__icon read-more__icon--small')
                                    | подробнее..