section.c-card
    .container
        .row
            .col
                .c-carousel
                    .c-carousel__main.js-slider-for
                        .c-carousel__item
                            img(src="img/product/item-1.jpg")
                        .c-carousel__item
                            img(src="img/product/item-1.jpg")
                        .c-carousel__item
                            img(src="img/product/item-1.jpg")
                        .c-carousel__item
                            img(src="img/product/item-1.jpg")
                    .c-carousel__nav.js-slider-nav.js-scroll
                        .c-carousel__nav-item
                            img(src="img/product/small/item-1.jpg")
                        .c-carousel__nav-item
                            img(src="img/product/small/item-2.jpg")
                        .c-carousel__nav-item
                            img(src="img/product/small/item-3.jpg")
                        .c-carousel__nav-item
                            img(src="img/product/small/item-1.jpg")
                    .prev_thumb-img
                        +icon('arrow_down','thumb-img__icon')
                    .next_thumb-img
                        +icon('arrow_down','thumb-img__icon')
            .c-card__content
                h1.c-card__title Кухня «MARIA LUCIDO»
                p.c-card__desc Лаконичный дизайн, в котором нет ничего лишнего, – неподвластен времени. Высокий глянец полированных эмалевых покрытий позволяет придать модели как яркость и праздничность, так и торжество и строгость. Кухня чистого дизайна может принимать различное стилистическое оформление и цветовые вариации согласно палитре NCS..

