footer.c-footer
    .container
        hr.c-footer__border
        .row.c-footer__content
            .col-md-4.col-sm-6.c-footer__item
                p.c-footer__copyright © 2018 МебельАРТ. orenburgmebel.com
                p Все права защищены
                p Создание сайта –
                    a(href="#")
            .col-md-5.col-sm-6.c-footer__item
                address.c-footer__address
                    p Торговый дом «Сокол»
                    p г. Оренбург, ул.Одесская 114, Тел:
                        a(href="tel:+73532758098") +7 (3532) 75-80-98
                p Режим работы: с 9:00 до 19:00. Без выходных
            .col-md-3
                .social
                    a(href="#").social__item
                        +icon('vk','social__icon')
                    a(href="#").social__item
                        +icon('facebook-f','social__icon')
                    a(href="#").social__item
                        +icon('instagram','social__icon')




