header.c-header
        .container-fluid
            .row.c-header__row
                a(href="/").c-header__logo
                    +icon('logo','c-header__logo-img')
                    p.c-header__logo-desc Итальянская мебель и кухни
                //Burger
                .c-header__burger-wrapp
                   .c-header__burger
                       .c-header__burger--icon
                nav.c-navbar
                    a(href="#").c-navbar__item Корпусная мебель
                    a(href="#").c-navbar__item Мягкая мебель
                    a(href="catalog.html").c-navbar__item Кухни «Giulia Novars»
                    a(href="#").c-navbar__item Кухни «Европрестиж»
                    a(href="#").c-navbar__item Матрасы
                    a(href="#").c-navbar__item Обеденные группы













