section
    .c-home-slider
        div(style="background-image: url(img/home-bg.jpg)").c-home-slider__item.c-home-slider__item--bottom
            .container
                .row
                    .c-home-slider__content
                        h2.c-home-slider__caption НОВАЯ МОДЕЛЬ
                            br
                            | В СТИЛЕ НЕОКЛАССИКА
                        a(href="#").read-more
                            span.read-more__icon-wrap
                                +icon('arrow_down','read-more__icon')
                            | подробнее...
        div(style="background-image: url(img/home-bg.jpg)").c-home-slider__item.c-home-slider__item--center
            .container
                .row
                    .c-home-slider__content
                        h2.c-home-slider__caption НОВАЯ МОДЕЛЬ
                            br
                            | В СТИЛЕ НЕОКЛАССИКА
                        a(href="#").read-more
                            span.read-more__icon-wrap
                                +icon('arrow_down','read-more__icon')
                            | подробнее...
        div(style="background-image: url(img/home-bg.jpg)").c-home-slider__item.c-home-slider__item--top
            .container
                .row
                    .c-home-slider__content
                        h2.c-home-slider__caption НОВАЯ МОДЕЛЬ
                            br
                            | В СТИЛЕ НЕОКЛАССИКА
                        a(href="#").read-more
                            span.read-more__icon-wrap
                                +icon('arrow_down','read-more__icon')
                            | подробнее...



