section.c-main-categories
    .container
        .row
            //Left column
            .col-md-6.c-main-categories__column
                a(href="#").c-main-categories__col.c-main-categories__col--md.c-main-categories__col--mb
                    figure.c-main-categories__item
                        img(src="img/category/item-1.jpg" alt="Кухни Giulia Novars").c-main-categories__img
                        figcaption.c-main-categories__content
                            h3.c-main-categories__title Кухни «Giulia Novars»
                            p.c-main-categories__desc Компания Giulia Novars изготавливает на заказ дорогую, качественную мебель для кухни и гостиной. За полтора с лишним десятилетия фабрика накопила огромный опыт в производстве кухонь, освоив технологию применения разных покрытий, от традиционного шпона до нержавеющей стали, керамики, разработала множество дизайнерских решений в современном и классическом стиле.

                .row.c-main-categories__col.c-main-categories__col--sm
                    a(href="#").col-md-7.c-main-categories__col-sm-7
                        figure.c-main-categories__item.c-main-categories__item--md
                            img(src="img/category/item-2.jpg" alt="alt").c-main-categories__img
                            figcaption.c-main-categories__content
                                h3.c-main-categories__title.c-main-categories__title--sm Корпусная мебель
                    a(href="#").col-md-5.c-main-categories__col-sm-5.c-main-categories__mob-mt
                        figure.c-main-categories__item.c-main-categories__item--sm
                            img(src="img/category/item-3.jpg" alt="alt").c-main-categories__img
                            figcaption.c-main-categories__content
                                h3.c-main-categories__title.c-main-categories__title--sm Мягкая мебель
            //Right column
            .col-md-6.c-main-categories__column

                .row.c-main-categories__col.c-main-categories__col--sm.c-main-categories__col--mb
                    a(href="#").col-md-6.c-main-categories__col-sm-6
                        figure.c-main-categories__item.c-main-categories__item--sm
                            img(src="img/category/item-4.jpg" alt="alt").c-main-categories__img
                            figcaption.c-main-categories__content
                                h3.c-main-categories__title.c-main-categories__title--sm Обеденные группы
                    a(href="#").col-md-6.c-main-categories__col-sm-6.c-main-categories__mob-mt
                        figure.c-main-categories__item.c-main-categories__item--sm
                            img(src="img/category/item-5.jpg" alt="alt").c-main-categories__img
                            figcaption.c-main-categories__content
                                h3.c-main-categories__title.c-main-categories__title--sm Матрасы

                a(href="#").c-main-categories__col.c-main-categories__col--md
                    figure.c-main-categories__item
                        img(src="img/category/item-6.jpg" alt="alt").c-main-categories__img
                        figcaption.c-main-categories__content
                            h3.c-main-categories__title Кухни «Европрестиж»
                            ul.c-main-categories__desc.c-main-categories__list
                                li.c-main-categories__point Российско-итальянский бренд;
                                li.c-main-categories__point Новые и актуальные коллекции;
                                li.c-main-categories__point Любые варианты покрытий и отделки;
                                li.c-main-categories__point Исключительное отношение и внимание к качеству продукта;
                                li.c-main-categories__point Гарантия соблюдения сроков и параметров заказа.







