.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-down {
  font-size:(9/10)*1rem;
  width:(10/9)*1em;
}
.icon-arrow-left {
  font-size:(14/10)*1rem;
  width:(13/14)*1em;
}
.icon-arrow-right {
  font-size:(13/10)*1rem;
  width:(12/13)*1em;
}
.icon-care {
  font-size:(45/10)*1rem;
  width:(41/45)*1em;
}
.icon-centers {
  font-size:(239/10)*1rem;
  width:(363/239)*1em;
}
.icon-chek {
  font-size:(13/10)*1rem;
  width:(17/13)*1em;
}
.icon-conversation {
  font-size:(45/10)*1rem;
  width:(45/45)*1em;
}
.icon-employee {
  font-size:(70/10)*1rem;
  width:(64/70)*1em;
}
.icon-facebook {
  font-size:(28/10)*1rem;
  width:(16/28)*1em;
}
.icon-family {
  font-size:(45/10)*1rem;
  width:(41/45)*1em;
}
.icon-first-aid-kit {
  font-size:(37/10)*1rem;
  width:(45/37)*1em;
}
.icon-hours {
  font-size:(63/10)*1rem;
  width:(66/63)*1em;
}
.icon-hours-white {
  font-size:(89/10)*1rem;
  width:(91/89)*1em;
}
.icon-logo {
  font-size:(96/10)*1rem;
  width:(96/96)*1em;
}
.icon-portfolio {
  font-size:(41/10)*1rem;
  width:(45/41)*1em;
}
.icon-positive {
  font-size:(67/10)*1rem;
  width:(61/67)*1em;
}
.icon-skype {
  font-size:(26/10)*1rem;
  width:(28/26)*1em;
}
.icon-social-care {
  font-size:(68/10)*1rem;
  width:(68/68)*1em;
}
.icon-vk {
  font-size:(18/10)*1rem;
  width:(30/18)*1em;
}
.icon-warning {
  font-size:(104/10)*1rem;
  width:(116/104)*1em;
}
