section(style="background-image: url('img/about-us-bg.jpg')").c-about-header
    .custom-container__md.c-about-header__container
        .row.align-content-center
            .c-about-header__content
                ul.c-about-header__list
                    li.c-about-header__list-item Работаем с 2014 года
                    li.c-about-header__list-item Помогли начать новую жизнь 200 семьям
                    li.c-about-header__list-item 87% обратившихся к нам <br /> избавились от зависимости






