section.c-about-desc
    .custom-container__md
        h2.caption О нас
    .custom-container__md
        .row.justify-content-center
            .col-xl-11.col-md-12.col-sm-11
                p.c-about-desc__text <b>Организация «ПИТЕР БЕЗ НАРКОТИКОВ»</b> создана в апреле 2014 года и работает в партнерстве с СПб ГБУЗ "Городская Наркологическая Больница". Основным направлением нашей работы является <b> социальная реабилитация </b> и медико-социальное сопровождение алко/наркозависимых людей, направленное на решение проблем, связанных с злоупотреблением наркотиков и алкоголя. Особое внимание в своей работе мы уделяем предоставлению объективной информации о существующих <b> программах лечения алко/наркозависимости </b> и сопутствующих заболеваний. Мы помогаем наркозависимым людям и их родственникам в <b>получении медицинских, социальных, психологических и правовых услуг.</b>

                p.c-about-desc__text В обществе существует мнение, что наркозависимость неизлечима, а наркозависимые и алкоголики- это опустившиеся люди, у которых нет дороги назад. Мы <b>видим в наркозависимых - людей</b>, попавших в сложную жизненную ситуацию. Мы <b>помогаем сориентироваться</b> в системе здравоохранения и социального обслуживания населения, пройти социальную реабилитацию и вернуться к нормальной, трезвой жизни.






