section.c-afer-rehab
    .container
        .heading.heading--sm
            h2.heading__caption Поддержка после реабилитации
            p.heading__sub-caption Помогаем выпускникам трудоустроиться и самореализоваться, привлекаем в совместные социальные проекты. Забота о каждом пациенте и индивидуальный подход. Гуманные методы лечения помогают вновь поверить в себя и обрести интерес к жизни.
    .custom-container__md.c-afer-rehab__item-wrap
        .row
            .col-md-4.col-sm-4.c-afer-rehab__item-inside-wrap
                .c-afer-rehab__item
                    .c-afer-rehab__figure
                        +icon('social-care','c-afer-rehab__icon')
                    h3.c-afer-rehab__caption Социализация
                    ul.c-afer-rehab__list
                        li.c-afer-rehab__list-item Шаг первый
                        li.c-afer-rehab__list-item Сделать второй шаг
                        li.c-afer-rehab__list-item То се пятое десятое
            .col-md-4.col-sm-4.c-afer-rehab__item-inside-wrap
                .c-afer-rehab__item
                    .c-afer-rehab__figure
                        +icon('employee','c-afer-rehab__icon')
                    h3.c-afer-rehab__caption Трудоустройство
                    ul.c-afer-rehab__list
                        li.c-afer-rehab__list-item Шаг первый
                        li.c-afer-rehab__list-item Сделать второй шаг
                        li.c-afer-rehab__list-item То се пятое десятое
            .col-md-4.col-sm-4.c-afer-rehab__item-inside-wrap
                .c-afer-rehab__item
                    .c-afer-rehab__figure
                        +icon('positive','c-afer-rehab__icon')
                    h3.c-afer-rehab__caption Профилактика срыва
                    ul.c-afer-rehab__list
                        li.c-afer-rehab__list-item Шаг первый
                        li.c-afer-rehab__list-item Сделать второй шаг
                        li.c-afer-rehab__list-item То се пятое десятое







