section.c-belief
    .container
        .heading.heading--md
            h2.heading__caption Зависимый не хочет лечиться?
            p.heading__sub-caption Зависимые люди практически никогда сами не хотят начинать лечение, не слушают доводы родственников. Наши специалисты знают, как в доверительной беседе показать зависимому всю тяжесть сложившегося положения и побудить к добровольному прохождению анонимного курса лечения.
    .custom-container__md
        ol.c-belief__list
            li.c-belief__item
                span.c-belief__accent.c-belief__accent--mr Проведем

                | телефонную
                br
                span.c-belief__accent.c-belief__accent--mr консультацию

                | с рекомендациями

            li.c-belief__item
                | Без насилия
                span.c-belief__accent убедим зависимого
                |  начать лечение
            li.c-belief__item
                span.c-belief__accent.c-belief__accent--mr Доставим в клинику

                |  для прохождения

                | курса лечения











