section(style="background-image: url('img/caption-bg.jpg')").c-caption
        .container
            .row
                .c-caption__wrap
                    h1.c-caption__title Эффективное
                        span.c-caption__accent лечение наркомании и алкоголизма
                        | в медицинской клинике
                        | с последующей социальной реабилитацией








