section.c-center-map
    .custom-container__md.c-center-map__container
        .c-center-map__bg-map(style="background-image: url('img/map.svg')")
            .c-center-map__row
                    .c-center-map__left
                        +icon('centers','c-center-map__icon')
                        h2.c-center-map__caption ЦЕНТРОВ
                            br
                            span РЕАБИЛИТАЦИИ
                    .c-center-map__right
                        h3.c-center-map__title Центры находятся на территории РФ и республики Кипр
                        .hidden-xs
                            p.c-center-map__desc
                                b Наркозависимость и алкоголизм
                                | – болезнь, мешающая человеку быть полноценным членом общества. Наркотические средства воздействуют не только на физическое состояние человека, но и вызывают психологическую зависимость.
                            a(data-fancybox data-src="#cost").button.button--orange Узнать стоимость

                    .c-center-map__bottom
                        p.c-center-map__desc
                            b Наркозависимость и алкоголизм
                            | – болезнь, мешающая человеку быть полноценным членом общества. Наркотические средства воздействуют не только на физическое состояние человека, но и вызывают психологическую зависимость.
                        a(data-fancybox data-src="#cost").button.button--orange Узнать стоимость









