section.c-center-desc
    .container
        .row.justify-content-between
           .col-md-7.col-sm-7
               .c-center-desc__caption
                   h1.c-center-desc__title Женский реабилитационный центр
                   address.c-center-desc__sub-caption г. Железноводск, Кавказские Минеральные Воды
               p.c-center-desc__text Зависимые люди практически никогда сами не хотят начинать лечение, не слушают доводы родственников. Наши специалисты знают, как в доверительной беседе показать зависимому всю тяжесть сложившегося положения и побудить к добровольному прохождению анонимного курса лечения.
               ul.list.c-center-desc__list
                   li.list__item.c-center-desc__list-item <b>Базовый курс реабилитации:</b> 3 месяца
                   li.list__item.c-center-desc__list-item <b>Стоимость реабилитации:  1000 руб./сутки </b>
                   li.list__item.c-center-desc__list-item <b>В стоимость входит: </b> проживание в номере на 2–4 человека, комплексное 4-х разовое питание, работа с психологом, групповые и индивидуальные занятия, работа с родственниками.
           .col-md-5.col-sm-5
                a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").c-center-desc__video
                    img(src="img/video.jpg" alt="alt").c-center-desc__video-img
















