section.c-center-text.d-none.d-md-block
    .custom-container__md
        h5 Центр реабилитации для женщин
        p Единственный на Юге России женский реабилитационный центр расположен в г. Ессентуки в курортной парковой зоне, неподалеку от минеральных источников. Это один из уникальных реабилитационных центров России. В центре созданы все условия для успешного прохождения реабилитации и выздоровления.
        p Особенностью реабилитационной программы является акцент на бальнеологическом факторе физического оздоровления. Целебные минеральные воды, которые можно пить и принимать в источниках оздоровительные ванны, приносят ощутимую пользу организму, отравленному алкоголем и наркотиками, помогают ему очиститься от токсинов. В программу физической реабилитации включены оздоровительные прогулки по курортным паркам региона: Кисловодскому, Железноводскому, Пятигорской курортной зоне. Сама природа Кавказских Минеральных Вод благотворно успокаивающе воздействует на нервную систему, расшатанную длительным употреблением психоактивных веществ. Девушки посещают фитнесс-клуб в городе. В реабилитационном центре есть и свой спортзал.
        h5 Психологическая реабилитация
        p Для эффективного прохождения реабилитационного процесса разработан удобный график занятий и мероприятий. В реабилитационном центре всё построено так, чтобы восстановление шло не только в физическом, но и в духовном плане. Многолетний опыт , годами оттачиваемая программа восстановительных мероприятий, внимание специалистов, — всё направлено на поиск причины возникновения проблемы, пути решения, наиболее подходящие для конкретного человека, на возвращение к нормальному образу жизни, восстановление социального статуса. С воспитанницами постоянно работают психотерапевты ,социальные работники. Они проводят как групповые занятия, так и индивидуальные консультации. Консультанты по химической зависимости находятся круглосуточно в центре и готовы оказать психологическую помощь в любую минуту.
        h5 Социальная реабилитация
        p Помимо воспитания самодисциплины и коллективизма, что весьма важно для неуравновешенного химически зависимого человека, особая роль отведена социальному служению. Девушки помогают заботиться о пожилых людях, проживающих в доме-интернате и о детях-сиротах, устраивают им театральные постановки. Воспитанницы также помогают в местном храме организовывать различные праздники для прихожан.
        p В реабилитационном центре создана атмосфера домашнего уюта. Смена обстановки, отказ от употребления и незнакомая среда, вызывают у воспитанницы определенные трудности, именно поэтому в центре все устроено с максимальным комфортом, чтобы ничто не мешало разобраться в себе, в своих проблемах, понять, что привело к употреблению наркотиков и злоупотреблению алкоголя. За состоянием воспитанниц в реабилитационном центре круглосуточно ведётся наблюдение консультантами и социальными работниками.
        p Уточняйте наличие свободных мест по тел.: <b>8 (921) 640-95-75</b>, места в центре ограничены.












