section.c-centers
    .container
        .heading.heading--sm
            h2.heading__caption Реабилитационные центры
            p.heading__sub-caption Лечение проходит в обстановке, располагающей к изменениям. Отсутствие городского шума, окружающая девственная природа и свежий воздух оказывают благотворное влияние на организм. А уютная комната и качественное питание сделают быт приятным.
    .container
        .c-centers__buttons
            button(data-filter="all").button.button--md.c-centers__btn.active.js-filter-btn Все центры
            button(data-filter="alcohol").button.button--md.c-centers__btn.js-filter-btn Для алкозависимых
            button(data-filter="drug").button.button--md.c-centers__btn.js-filter-btn Для наркозависимых
        .c-centers__list
            .c-centers__item(data-filter="alcohol")
                figure.c-center
                    img(src="img/centers/item-1.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Ессентуки
                        p.c-center__sub-title Женский реабилитационный центр
                    figcaption.c-center__back
                        h3.c-center__back-title Ессентуки
                        p.c-center__back-sub-title Женский реабилитационный центр
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре




            .c-centers__item(data-filter="drug")
                figure.c-center
                    img(src="img/centers/item-2.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Пятигорск
                        p.c-center__sub-title Кавказские Минеральные Воды
                    figcaption.c-center__back
                        h3.c-center__back-title Пятигорск
                        p.c-center__back-sub-title Кавказские Минеральные Воды
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре
            .c-centers__item(data-filter="drug")
                figure.c-center
                    img(src="img/centers/item-3.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Пятигорск
                        p.c-center__sub-title Кавказские Минеральные Воды
                    figcaption.c-center__back
                        h3.c-center__back-title Пятигорск
                        p.c-center__back-sub-title Кавказские Минеральные Воды
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре
            .c-centers__item(data-filter="alcohol")
                figure.c-center
                    img(src="img/centers/item-4.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Истра
                        p.c-center__sub-title “Вертикаль”,  Московская область
                    figcaption.c-center__back
                        h3.c-center__back-title Истра
                        p.c-center__back-sub-title “Вертикаль”,  Московская область
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре
            .c-centers__item(data-filter="drug")
                figure.c-center
                    img(src="img/centers/item-5.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Ставрополь
                        p.c-center__sub-title Спасо-Преображенский центр
                    figcaption.c-center__back
                        h3.c-center__back-title Ставрополь
                        p.c-center__back-sub-title Спасо-Преображенский центр
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре
            .c-centers__item(data-filter="alcohol")
                figure.c-center
                    img(src="img/centers/item-6.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Ростов-на-Дону
                        p.c-center__sub-title Женский реабилитационный центр
                    figcaption.c-center__back
                        h3.c-center__back-title Ростов-на-Дону
                        p.c-center__back-sub-title Женский реабилитационный центр
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре
            .c-centers__item(data-filter="alcohol")
                figure.c-center
                    img(src="img/centers/item-1.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Железноводск
                        p.c-center__sub-title Кавказские Минеральные Воды
                    figcaption.c-center__back
                        h3.c-center__back-title Железноводск
                        p.c-center__back-sub-title Кавказские Минеральные Воды
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре
            .c-centers__item(data-filter="drug")
                figure.c-center
                    img(src="img/centers/item-2.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Ростов-на-Дону
                        p.c-center__sub-title Реабилитационный центр
                    figcaption.c-center__back
                        h3.c-center__back-title Ростов-на-Дону
                        p.c-center__back-sub-title Реабилитационный центр
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре
            .c-centers__item(data-filter="alcohol")
                figure.c-center
                    img(src="img/centers/item-3.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Ессентуки
                        p.c-center__sub-title Женский реабилитационный центр
                    figcaption.c-center__back
                        h3.c-center__back-title Ессентуки
                        p.c-center__back-sub-title Женский реабилитационный центр
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре

            .c-centers__item(data-filter="drug")
                figure.c-center
                    img(src="img/centers/item-4.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Кипр
                        p.c-center__sub-title Реабилитационный центр
                    figcaption.c-center__back
                        h3.c-center__back-title Кипр
                        p.c-center__back-sub-title Реабилитационный центр
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре
            .c-centers__item(data-filter="drug")
                figure.c-center
                    img(src="img/centers/item-5.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Пятигорск
                        p.c-center__sub-title Мужской реабилитационный центр
                    figcaption.c-center__back
                        h3.c-center__back-title Пятигорск
                        p.c-center__back-sub-title Мужской реабилитационный центр
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре
            .c-centers__item(data-filter="alcohol")
                figure.c-center
                    img(src="img/centers/item-6.jpg" alt="alt").c-center__picture
                    .c-center__caption
                        h3.c-center__title Железноводск
                        p.c-center__sub-title Мужской реабилитационный центр
                    figcaption.c-center__back
                        h3.c-center__back-title Железноводск
                        p.c-center__back-sub-title Мужской реабилитационный центр
                        .c-center__price 1200 р./сутки
                        a(href="#").button.button--sm.button--nob Подробнее о центре








