section.c-center-gallery-wrap
    .container
        h2.caption Фотогалерея центра
        .row
            .c-center-gallery.js-mobile-carusel
                a(href="img/centers/item-1.jpg" data-fancybox="gallery").c-center-gallery__item
                    img(src="img/centers/item-1.jpg" alt="alt").c-center-gallery__item-img
                a(href="img/centers/item-2.jpg" data-fancybox="gallery").c-center-gallery__item
                    img(src="img/centers/item-2.jpg" alt="alt").c-center-gallery__item-img
                a(href="img/centers/item-3.jpg" data-fancybox="gallery").c-center-gallery__item
                    img(src="img/centers/item-3.jpg" alt="alt").c-center-gallery__item-img
                a(href="img/centers/item-4.jpg" data-fancybox="gallery").c-center-gallery__item
                    img(src="img/centers/item-4.jpg" alt="alt").c-center-gallery__item-img
                a(href="img/centers/item-5.jpg" data-fancybox="gallery").c-center-gallery__item
                    img(src="img/centers/item-5.jpg" alt="alt").c-center-gallery__item-img
                a(href="img/centers/item-6.jpg" data-fancybox="gallery").c-center-gallery__item
                    img(src="img/centers/item-6.jpg" alt="alt").c-center-gallery__item-img
                a(href="img/centers/item-1.jpg" data-fancybox="gallery").c-center-gallery__item
                    img(src="img/centers/item-1.jpg" alt="alt").c-center-gallery__item-img
                a(href="img/centers/item-2.jpg" data-fancybox="gallery").c-center-gallery__item
                    img(src="img/centers/item-2.jpg" alt="alt").c-center-gallery__item-img


















