section.c-center-program-wrap
    .container
        h2.caption Что входит в программу реабилитации
        .c-center-program
            .row
                .col-md-5.col-sm-5.c-center-program__item
                    ul.c-center-program__list.list
                        li.list__item.c-center-program__list-item Воспитание ответственности
                        li.list__item.c-center-program__list-item Формирование моральных установок
                        li.list__item.c-center-program__list-item Здоровые привычки
                        li.list__item.c-center-program__list-item Работа с родственниками
                .col-md-3.col-sm-3.c-center-program__item
                    ul.c-center-program__list.list
                        li.list__item.c-center-program__list-item Групповая работа
                        li.list__item.c-center-program__list-item Самоанализ
                        li.list__item.c-center-program__list-item Психолог
                        li.list__item.c-center-program__list-item Трудотерапия
                .col-md-4.col-sm-4.c-center-program__item
                    ul.c-center-program__list.list
                        li.list__item.c-center-program__list-item Уют и поддержка
                        li.list__item.c-center-program__list-item Индивидуальность и позитивность
                        li.list__item.c-center-program__list-item Досуговые мероприятия
                        li.list__item.c-center-program__list-item Поддержание мотивации





















