section.c-detox
    .container
        .heading.heading--xs
            h2.heading__caption Детоксикация

    .custom-container__md.c-detox__content
        .row
            .col-md-6.col-sm-6.c-detox__ctent-wrap
                p.c-detox__text После того, как зависимый готов начать лечение, проводится детоксикация. Т.е. очищение организма от веществ, изменяющих сознание. В каждом конкретном случае ее длительность меняется.
                ul.c-detox__list
                    li.c-detox__item Процедура длится от 2 до 7 дней
                    li.c-detox__item Гарантия анонимности
                    li.c-detox__item Без постановки на учет
                a(data-fancybox data-src="#callback").button.button--orange Нужна помощь
            .col-md-6.col-sm-6.hidden-xs
                img(src="img/detox.jpg" alt="alt")











