section.c-documents
    .custom-container__md.c-documents__row
        .row
            .col-md-6.col-sm-6
                h2.c-documents__caption Правовые документы
                p.c-documents__desc С помощью РОО <b>«ПИТЕР БЕЗ НАРКОТИКОВ»</b> вы сможете повысить уровень своей жизни или жизни своих близких, полностью освободившись от наркотической и алкогольной зависимости. Мы готовы прийти на помощь в самых сложных ситуациях и найти решение для каждого случая.
            .col-md-6.col-sm-6
                h2.c-documents__garant Гарантия от срыва
                    span 1 год
                p.c-documents__text При полном прохождении курса лечения и соблюдении всех рекомендаций

        .row
            .col
                .c-documents-slider.js-carousel.custom-arrow
                    a(href="img/documents/item-1.jpg" data-fancybox="document").c-documents-slider__item
                        img(src="img/documents/item-1.jpg" alt="alt").c-documents-slider__img.js-fancybox
                    a(href="img/documents/item-1.jpg" data-fancybox="document").c-documents-slider__item
                        img(src="img/documents/item-1.jpg" alt="alt").c-documents-slider__img.js-fancybox
                    a(href="img/documents/item-1.jpg" data-fancybox="document").c-documents-slider__item
                        img(src="img/documents/item-1.jpg" alt="alt").c-documents-slider__img.js-fancybox
                    a(href="img/documents/item-1.jpg" data-fancybox="document").c-documents-slider__item
                        img(src="img/documents/item-1.jpg" alt="alt").c-documents-slider__img.js-fancybox
                    a(href="img/documents/item-1.jpg" data-fancybox="document").c-documents-slider__item
                        img(src="img/documents/item-1.jpg" alt="alt").c-documents-slider__img.js-fancybox
                    a(href="img/documents/item-1.jpg" data-fancybox="document").c-documents-slider__item
                        img(src="img/documents/item-1.jpg" alt="alt").c-documents-slider__img.js-fancybox










