footer.c-footer
    .container-fluid.c-footer__container
        .row.c-footer__row
            .col-md-6.c-footer__map-wrap
                #map.c-footer__map
            .col-md-6.c-footer__content-wrap
                .c-footer__content
                    .c-footer__conten-item.c-footer__conten-item--left
                        h2.c-footer__caption Бесплатная анонимная горячая линия
                        .c-footer__phone-wrap
                            +icon('hours-white','c-footer__phone-icon')
                            div
                                a(href="tel:88123226929").c-footer__phone 8 (812) 322-69-29
                                a(href="tel:89216409575").c-footer__phone 8 (921) 640-95-75
                        a(href="malito:box@piter-bez-narkotikov.ru").c-footer__mail e-mail: box@piter-bez-narkotikov.ru
                        address.c-footer__address
                            span.c-footer__address-title Адрес:
                            | 5-я линия В.О., д. 32 "Б"
                        .social
                            a(href="#").social__item.social__item--fb
                                +icon('facebook','social__item-icon social__item-icon--fb')
                            a(href="#").social__item.social__item--vk
                                +icon('vk','social__item-icon social__item-icon--vk')
                            a(href="#").social__item.social__item--skype
                                +icon('skype','social__item-icon social__item-icon--skype')
                    .c-footer__conten-item.c-footer__conten-item--right
                        h2.c-footer__caption.c-footer__caption--mb Реквизиты организации:
                        p.c-footer__info Юридический адрес: 195196
                        p.c-footer__info г. Санкт-Петербург, Таллинская ул., д. 5, пом. 418
                        p.c-footer__info ИНН 7806290940  КПП 780601001
                        p.c-footer__info Северо-Западный банк ПАО «Сбербанк»
                        p.c-footer__info г. Санкт-Петербург
                        p.c-footer__info р/с 40703810255040000421
                        p.c-footer__info к/с 30101810500000000653
                        p.c-footer__info ОКПО 39451859
                        p.c-footer__info ОГРН 1147800002371
                        p.c-footer__info БИК  044030653

                    p.c-footer__copyright Информация на сайте не является публичной офертой.
                        br
                        | Для получения подробной информации о стоимости услуг, обращайтесь в администрацию клиник.
                    div.c-footer__link-wrap
                        a(href="#").c-footer__link Политика конфиденциальности
                        a(href="#").c-footer__link Обработка персональных данных



