section(style="background-image: url('img/home-slider-bg.jpg')").c-home
    .container
        .row
            .c-home__content
                .c-home__slider.js-full-slider
                    .c-home__slider-item
                        h2.c-home__caption Детоксикация
                            br
                            | Бесплатно
                        p.c-home__desc При госпитализации
                        a(data-fancybox data-src="#callback").button.button--orange Срочная помощь
                    .c-home__slider-item
                        h2.c-home__caption Детоксикация
                            br
                            | Бесплатно
                        p.c-home__desc При госпитализации
                        a(data-fancybox data-src="#callback").button.button--orange Срочная помощь






