section(style="background-image: url('img/offer.jpg')").c-offer
        .container
            .c-offer__wrap-inside
                .row.align-items-center
                    .c-offer__item.c-offer__item--center.col-custom-xs-3
                        +icon('warning','c-offer__icon')
                    .c-offer__item.col-custom-xs-9.c-offer__item--start
                        h3.c-offer__caption.c-offer__caption--sm Полное избавление от зависимости возможно только при прохождении реабилитации









