section(style="background-image: url('img/offer.jpg')").c-offer
        .container
            .c-offer__wrap-inside
                .row
                    .col-md-6.col-sm-6.c-offer__item
                        span.c-offer__desc Звонок бесплатный
                        a(href="tel:88123226929").c-offer__numb 8 (812) 322-69-29
                        span.c-offer__anon Анонимно. Круглосуточно.
                    .col-md-6.col-sm-6.c-offer__item
                        h3.c-offer__caption.c-offer__caption--mb Срочный выезд на дом
                        a(data-fancybox data-src="#callback").button.button--orange Нужна помощь








