section.c-review-wrap
    .custom-container__md
        h2.caption Отзывы о центре
        .row
            .c-review.js-carousel-review.color-arrow
                div.c-review__item-wrap
                    .c-review__item
                        h5.c-review__name Василий, 40 лет
                        .c-review__content
                            p.c-review__text Это только поначалу весело и забавно, кажется, что ты можешь всё и у твоих ног весь мир. На самом деле ты летишь в пропасть.
                            p.c-review__text Я употреблял кокаин — мне казалось, что он дает мне силы работать и вообще жить. Я чувствовал себя двадцатилетним мальчишкой, беззаботным и полным энергии.  Даже когда жена ушла от меня, я не остановился — зависимость от порошка была сильнее. Женщины сменяли друг друга, друзья тоже, про некоторых я слышал — человека больше нет, умер от ломки или передозировки, но всё это пролетало мимо и не вызывало никаких эмоций. Однажды в погоне за новыми ощущениями я вдруг осознал, что у меня больше ничего нет... В центр «Горизонт» приехал сам, по своей воле — просто не хотелось мне такой участи, что маячила впереди. Конечно, слабо верилось, что мне тут помогут, но другого выбора уже просто не было. Мне сразу внушили — у меня есть главное для выздоровления, это желание излечиться. Это уже практически половина успеха! Каждый день я видел вокруг совсем молодых мальчишек и девчонок, которые отчаянно спасали свою жизнь. И с ними я — сорокалетний взрослый мужик, который из-за дури потерял так много! На данный момент у меня — восемь месяцев трезвости, новый бизнес, я снова на плаву. Надеюсь, и жена когда-нибудь меня простит, и дети. По крайней мере, реабилитационный центр дал мне силы сделать первые шаги навстречу этому.

                        a(href="#").c-review__more Читать дальше
                div.c-review__item-wrap
                    .c-review__item
                        h5.c-review__name Василий, 40 лет
                        .c-review__content
                            p.c-review__text Это только поначалу весело и забавно, кажется, что ты можешь всё и у твоих ног весь мир. На самом деле ты летишь в пропасть.
                            p.c-review__text Я употреблял кокаин — мне казалось, что он дает мне силы работать и вообще жить. Я чувствовал себя двадцатилетним мальчишкой, беззаботным и полным энергии.  Даже когда жена ушла от меня, я не остановился — зависимость от порошка была сильнее. Женщины сменяли друг друга, друзья тоже, про некоторых я слышал — человека больше нет, умер от ломки или передозировки, но всё это пролетало мимо и не вызывало никаких эмоций. Однажды в погоне за новыми ощущениями я вдруг осознал, что у меня больше ничего нет... В центр «Горизонт» приехал сам, по своей воле — просто не хотелось мне такой участи, что маячила впереди. Конечно, слабо верилось, что мне тут помогут, но другого выбора уже просто не было. Мне сразу внушили — у меня есть главное для выздоровления, это желание излечиться. Это уже практически половина успеха! Каждый день я видел вокруг совсем молодых мальчишек и девчонок, которые отчаянно спасали свою жизнь. И с ними я — сорокалетний взрослый мужик, который из-за дури потерял так много! На данный момент у меня — восемь месяцев трезвости, новый бизнес, я снова на плаву. Надеюсь, и жена когда-нибудь меня простит, и дети. По крайней мере, реабилитационный центр дал мне силы сделать первые шаги навстречу этому.

                        a(href="#").c-review__more Читать дальше
                div.c-review__item-wrap
                    .c-review__item
                        h5.c-review__name Василий, 40 лет
                        .c-review__content
                            p.c-review__text Это только поначалу весело и забавно, кажется, что ты можешь всё и у твоих ног весь мир. На самом деле ты летишь в пропасть.
                            p.c-review__text Я употреблял кокаин — мне казалось, что он дает мне силы работать и вообще жить. Я чувствовал себя двадцатилетним мальчишкой, беззаботным и полным энергии.  Даже когда жена ушла от меня, я не остановился — зависимость от порошка была сильнее. Женщины сменяли друг друга, друзья тоже, про некоторых я слышал — человека больше нет, умер от ломки или передозировки, но всё это пролетало мимо и не вызывало никаких эмоций. Однажды в погоне за новыми ощущениями я вдруг осознал, что у меня больше ничего нет... В центр «Горизонт» приехал сам, по своей воле — просто не хотелось мне такой участи, что маячила впереди. Конечно, слабо верилось, что мне тут помогут, но другого выбора уже просто не было. Мне сразу внушили — у меня есть главное для выздоровления, это желание излечиться. Это уже практически половина успеха! Каждый день я видел вокруг совсем молодых мальчишек и девчонок, которые отчаянно спасали свою жизнь. И с ними я — сорокалетний взрослый мужик, который из-за дури потерял так много! На данный момент у меня — восемь месяцев трезвости, новый бизнес, я снова на плаву. Надеюсь, и жена когда-нибудь меня простит, и дети. По крайней мере, реабилитационный центр дал мне силы сделать первые шаги навстречу этому.

                        a(href="#").c-review__more Читать дальше










