section.c-team
    .custom-container__md
        h2.caption Состав организации
    .container
        .row.justify-content-center
            .c-team__col
                .c-team__item
                    img(src="img/centers/item-2.jpg" alt="alt").c-team__picture
                    h6.c-team__name Михаил Обрядин
                    h6.c-team__post Руководитель
            .c-team__col
                .c-team__item
                    img(src="img/centers/item-2.jpg" alt="alt").c-team__picture
                    h6.c-team__name Андрей Кудрявцев
                    h6.c-team__post Специалист по социальной работе
            .c-team__col
                .c-team__item
                    img(src="img/centers/item-2.jpg" alt="alt").c-team__picture
                    h6.c-team__name Кирсеева Екатерина
                    h6.c-team__post Психолог
            .c-team__col
                .c-team__item
                    img(src="img/centers/item-2.jpg" alt="alt").c-team__picture
                    h6.c-team__name Атрашенко Елена
                    h6.c-team__post Социальный работник
            .c-team__col
                .c-team__item
                    img(src="img/centers/item-2.jpg" alt="alt").c-team__picture
                    h6.c-team__name Добрынин Дмитрий
                    h6.c-team__post Эксперт-консультант по терапии химической зависимости




