section.c-treatment
    .container
        .heading.heading--xs
            h2.heading__caption Как проходит лечение
            p.heading__sub-caption Вы можете спасти жизнь близкого вам человека. Действуйте прямо сейчас!
            a(data-fancybox data-src="#callback").button.button--orange Оставить заявку
    .custom-container__md
        .row.c-treatment__items
            .col-md-4.col-sm-6
                .c-treatment__item
                    .c-treatment__figure
                        +icon('hours','c-treatment__icon')
                    .c-treatment__conten
                        h3.c-treatment__title Консультация
                        p.c-treatment__desc Задайте интересующие вас вопросы по телефону
                            a(href="tel:88123226929").c-treatment__link 8 (812) 322-69-29
            .col-md-4.col-sm-6
                .c-treatment__item
                    .c-treatment__figure
                        +icon('conversation','c-treatment__icon')
                    .c-treatment__conten
                        h3.c-treatment__title Мотивация
                        p.c-treatment__desc Формируем желание начать лечение у зависимого
            .col-md-4.col-sm-6
                .c-treatment__item
                    .c-treatment__figure
                        +icon('first-aid-kit','c-treatment__icon')
                    .c-treatment__conten
                        h3.c-treatment__title Детоксикация
                        p.c-treatment__desc Выведение наркотических веществ из организма
            .col-md-4.col-sm-6
                .c-treatment__item
                    .c-treatment__figure
                        +icon('care','c-treatment__icon')
                    .c-treatment__conten
                        h3.c-treatment__title Реабилитация
                        p.c-treatment__desc Восстановление организма и личности, устранения причины зависимости
            .col-md-4.col-sm-6
                .c-treatment__item
                    .c-treatment__figure
                        +icon('family','c-treatment__icon')
                    .c-treatment__conten
                        h3.c-treatment__title Социализация
                        p.c-treatment__desc Восстановление отношений с семьей, психологические консультации
            .col-md-4.col-sm-6
                .c-treatment__item
                    .c-treatment__figure
                        +icon('portfolio','c-treatment__icon')
                    .c-treatment__conten
                        h3.c-treatment__title Поддержка
                        p.c-treatment__desc Помощь в трудоустройстве, вовлечение в социальные проекты, самореализация














