.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-left {
  font-size:(492/10)*1rem;
  width:(492/492)*1em;
}
.icon-arrow-right {
  font-size:(492/10)*1rem;
  width:(492/492)*1em;
}
.icon-arrow_down {
  font-size:(560/10)*1rem;
  width:(960/560)*1em;
}
.icon-check {
  font-size:(17/10)*1rem;
  width:(23/17)*1em;
}
.icon-close {
  font-size:(31.11/10)*1rem;
  width:(31.11/31.11)*1em;
}
.icon-coffee-cup {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-cross {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-hand {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-location {
  font-size:(29/10)*1rem;
  width:(23/29)*1em;
}
.icon-logo {
  font-size:(28/10)*1rem;
  width:(189/28)*1em;
}
.icon-play {
  font-size:(24/10)*1rem;
  width:(21/24)*1em;
}
.icon-shield {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-stopwatch {
  font-size:(60/10)*1rem;
  width:(60/60)*1em;
}
